<!Doctype HTML>
<html lang="de">

<head>
	<title>Admin Area</title>
	<%- include('snippets/header'); -%>
</head>

<body>

	<%- include('snippets/navbar'); -%>

	<div class="min-height">

		<!-- Title -->
		<div class="row  dropdown-search-row" style="margin-bottom:0;">
			<div>
		        <div class="row dark-blue-to-light-blue valign-wrapper noselect h50px" style="margin: 10px 5px 0px 5px; border-radius: 25px 25px">
		          <!-- <div class="col s2 valign-wrapper"><i class="material-icons white-text" style="font-size:2rem; margin-left: 8px">build</i><i class="material-icons white-text" style="font-size:2rem; margin-left: 8px">supervisor_account</i></div> -->
		          <div class="col s7 white-text center title valign-wrapper">
		            <a href="/admin" style="color:white">Administration</a>
		          </div>
		      </div>
		   </div>
		</div>

		<!-- Page Content -->
		<div class="row">
			<!-- User Administration -->
			<div class="col s12 m4">
				<h4 class="potion-font dark-blue-text">List of Users</h4>
				<hr>
				<% if (users) { %>
					<table width="100%" class="managing-users-table">
						<col width="30%">
						<col width="10%">
						<col width="60%">

						<thead>
							<tr>
								<th class="dark-blue-text">UserID</th>
								<th class="dark-blue-text">Email</th>
								<th class="dark-blue-text"></th>
								<th class="dark-blue-text"></th>
							</tr>
						</thead>
						



						<tbody>
							<% users.forEach(function(aUser){ %>
						
								<%if (aUser.id == query ) { %>
								<tr style="border-style:solid;border-color:red;border-width:5px 5px 5px 5px;font-weight: bold">
								<td><%= aUser.id %></td>
								<td><%= aUser.email %></td>
								<% }else{ %>
									<tr>
									<td><%= aUser.id %></td>
									<td><%= aUser.email %></td>
								<% } %>

								<td>
									<div style="float: right;">
										<a class="lupe" type="button" href="/admin-delete-account?userId=<%= aUser.id %>">
											<i class="material-icons dark-blue-text" style="font-size: 2.0em;">delete</i>
										</a>       								
									<div>
								</td>
								<td>
									<div style="float: right;">
										<a class="lupe" href="/admin?userid=<%= aUser.id %>" type="submit">
                   							<i class="material-icons potion-magenta" style="font-size: 2.0em;">keyboard_tab</i>
           								</a>           								
									<div>
								</td>
							</tr>
							<% }); %>
						</tbody>
					</table>
				<% } else { %>
					<p>No Users in Database!  <i class="small material-icons">mood_bad</i></p>
				<% } %>				
			</div>

			<!-- Lesson Administration -->
			<div class="col s12 m4">
				<h4 class="potion-font dark-blue-text">List of Lessons</h4>
				<hr>
				<% if (lessons) { %>
					<table width="100%" class="managing-animations-table">
						<col width="30%">
						<col width="30%">
						<col width="40%">

						<thead>
							<tr>
								<th class="dark-blue-text">Title</th>
								<th class="dark-blue-text">Description</th>
								<th class="dark-blue-text"></th>
								<th class="dark-blue-text"></th>
							</tr>
						</thead>
						
						<tbody>
							<% lessons.forEach(function(lesson){ %>
							<tr>
								<td><%= lesson.title %></td>
								<td><%= lesson.description %></td>
								<td>
									<div style="float: right;">
										<a target="_blank" rel="noopener noreferrer" href="/view?lesson=<%= lesson.share %>"><i class="material-icons potion-magenta">open_in_browser</i></a>
										</a>
									<div>
								</td>
								<td>
									<div style="float: right;">
										<a class="lupe" type="button" href="/admin-delete-lesson?lessonId=<%= lesson.id %>">
											<i class="material-icons dark-blue-text" style="font-size: 2.0em;">delete</i>
										</a>
									<div>
								</td>
							</tr>
							<% }); %>
						</tbody>
					</table>
				<% } else { %>
					<p>No Lessons in Database!  <i class="small material-icons">mood_bad</i></p>
				<% } %>
			</div>

			<!-- Animation Administration -->
			<div class="col s12 m4">
				<h4 class="potion-font dark-blue-text">List of Animations</h4>
				<hr>
				<% if (animations) { %>
					<table width="100%" class="managing-animations-table">
						<col width="30%">
						<col width="30%">
						<col width="40%">

						<thead>
							<tr>
								<th class="dark-blue-text">Title</th>
								<th class="dark-blue-text">Description</th>
								<th class="dark-blue-text">Duration</th>
								<th class="dark-blue-text"></th>
								<th class="dark-blue-text"></th>
							</tr>
						</thead>
						
						<tbody>
							<% animations.forEach(function(animation){ %>
							<tr>
								<td><%= animation.title %></td>
								<td><%= animation.description %></td>
								<td><%= animation.duration %></td>
								<td>
									<div style="float: right;">
										<a target="_blank" rel="noopener noreferrer" href="/view?animation=<%= animation.share %>"><i class="material-icons potion-magenta">play_arrow</i></a>
									<div>
								</td>
								<td>
									<div style="float: right;">									
										<a class="lupe"  type="button" href="/admin-delete-animation?animationId=<%= animation.id %>">
											<i class="material-icons dark-blue-text" style="font-size: 2.0em;">delete</i>
										</a>
									<div>
								</td>
							</tr>
							<% }); %>
						</tbody>
					</table>
				<% } else { %>
					<p>No Animations in Database!  <i class="small material-icons">mood_bad</i></p>
				<% } %>
			</div>

		</div>
	</div>
	<!-- Page Content End -->

	<%- include('snippets/footer'); -%>

	
</body>

</html>
