



<!Doctype HTML>
<html lang="de">

<head>
	<title>Potion</title>
	<%- include('snippets/header'); -%>
</head>


<body>

  <%- include('snippets/navbar'); -%>

   <!-- ________________________________________ CONTENT _____________________________________________ -->


<div class="container">
	<h3> Allgemeine Geschäftsbedingungen </h3>
</div>


 <!-- _________________________________________ END Content _________________________________________ -->

      <%- include('snippets/footer'); -%>

  </body>
</html>
