<!Doctype HTML>
<html lang="de">

<head>
	<title>Edit Animation</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
	<span class="yellow">
		Edit Animation mit ID: <%= id %>
	</span>
</body>

</html>
