<!Doctype HTML>
<html lang="de">

<head>
	<title>Potion</title>
	<%- include('snippets/header'); -%>

    <link rel="stylesheet" href="/css/styles-functionality.css"> 
</head>



<body class="dark-grey-4">

  <%- include('snippets/navbar-editor'); -%>


<!-- _____________________________________ Content _____________________________________ -->




    <!--   _____________________________  General Site Structure  _____________________________  -->


                    <div id="container" class="row margin-auto">

                        <!-- ___________________________ Canvas Container ___________________________ -->
                        <div id="canvas-container" class="col padding-0">

                                <!-- ___________________________ Canvas ___________________________ -->
                                <div id="canvas" class="col s12 padding-0 dropzone" style="background-color: #FFFFFF; overflow: hidden;">

                                        <div id="transformTool" data-x=0 data-y=0 class="resizable"             style="width: 50px; height: 50px; position: absolute; left:40%; top:50%; transform: translate(-50%, -50%); z-index: 996; display: none;">
                                                <div class="light-blue-dot"                                         style="position: absolute; width: 1px; height: 40px; top:-40px; left:50%; transform: translate(-50%, 0);"></div>
                                                <div class="rotation-handle light-blue-dot r-dot"                   style="top:-40px; left:50%; transform: translate(-50%, 0);"></div>
                                                <div class="resize-top light-blue-dot t-dot"                        style="top:0; left:50%; transform: translate(-50%, -50%);"></div>
                                                <div class="resize-top resize-left light-blue-dot t-dot"            style="top:0; left:0; transform: translate(-50%, -50%);"></div>
                                                <div class="resize-left light-blue-dot t-dot"                       style="left:0; top:50%; transform: translate(-50%, -50%);"></div>
                                                <div class="resize-top resize-right light-blue-dot t-dot"           style="top:0; right:0; transform: translate(50%, -50%);"></div>
                                                <div class="resize-right light-blue-dot t-dot"                      style="right:0; top:50%; transform: translate(50%, -50%);"></div>
                                                <div class="resize-bottom resize-left light-blue-dot t-dot"         style="bottom:0; left:0;  transform: translate(-50%, 50%);"></div>
                                                <div class="resize-bottom resize-right light-blue-dot t-dot"        style="bottom:0; right:0;  transform: translate(50%, 50%);"></div>
                                                <div class="resize-bottom light-blue-dot t-dot"                     style="bottom:0; left:50%; transform: translate(-50%, 50%);"></div>
                                        </div>

                                        <div id="fullscreenNav" class="dark-grey-3 rounded-corners-16">
                                                <div class="col s12 margin-0 padding-0 flex-container-center h50px">
                                                        <a class="flex-container-center tooltipped" data-position="top" data-tooltip="Jump to Start" href="javascript:;" onclick="jumpToStart();"><i class="font-size-50 material-icons white-text">skip_previous</i></a>
                                                        <a class="flex-container-center tooltipped" data-position="top" data-tooltip="Step Back" href="javascript:;" onclick="jumpBackward();"><i class="font-size-38 material-icons white-text" style="transform: rotate(180deg);">play_arrow</i></a>
                                                        <a class="flex-container-center" href="javascript:;"><i id="playButton" class="font-size-50 material-icons white-text play-arrow">play_arrow</i></a>
                                                        <a class="flex-container-center tooltipped" data-position="top" data-tooltip="Step Forward" href="javascript:;" onclick="jumpForward();"><i class="font-size-38 material-icons white-text">play_arrow</i></a>
                                                        <a class="flex-container-center tooltipped" data-position="top" data-tooltip="Jump to End" href="javascript:;" onclick="jumpToEnd();"><i class="font-size-50 material-icons white-text">skip_next</i></a>
                                                </div>
                                                <div class="col s12 margin-0 padding-0 flex-container-center h50px">
                                                        <a class="flex-container-center margin-l-r-4 tooltipped" data-position="top" data-tooltip="Grid on/off" href="javascript:;">
                                                                <i class="font-size-38 material-icons white-text grid">grid_off</i>
                                                        </a>
                                                        <a class="flex-container-center margin-l-r-4 tooltipped" data-position="top" data-tooltip="Fullscreen" href="javascript:;" onclick="goFullScreen();">
                                                                <i class="font-size-38 material-icons white-text">crop_free</i>
                                                        </a>
                                                        <a class="flex-container-center margin-l-r-4 tooltipped" data-position="top" data-tooltip="Hide Navigation" href="javascript:;">
                                                                <i id="hideFullNav" class="font-size-38 material-icons white-text">expand_more</i>
                                                        </a>
                                                </div> 
                                        </div>

                                        <div id="showNavButton" class="dark-grey-2">
                                                        <a class="flex-container-center margin-l-r-4 tooltipped" data-position="top" data-tooltip="Show Navigation" href="javascript:;">
                                                                <i id="showFullNav" class="font-size-38 material-icons white-text">expand_less</i>
                                                        </a>
                                        </div>

                                        <div id="grid" style="width:100%; height:100%; opacity: 0; transition: 0.2s; pointer-events: none">
                                                <% var xSnap = 10 %>
                                                <% var ySnap = 10 %>
                                                <% for (var i = 0; i<xSnap ; i++) {%>
                                                        <div class="grey" style="position: absolute; width:1px; height:100%; left: <%= i/xSnap*100 %>%"></div>
                                                <% } %>
                                                <% for (var i = 0; i<ySnap ; i++) {%>
                                                        <div class="grey" style="position: absolute; width:100%; height:1px; top: <%= i/ySnap*100 %>%"></div>
                                                <% } %>
                                        </div>
                                </div>

                                <!-- ___________________________ Controls ___________________________ -->
                                <div id="controls" class="col s12 dark-grey-3 rounded-corners-16-b noselect">
                                        <div class="col s4 margin-0 padding-0 flex-container-left h50px">
                                                <a id="undoDeletion" class="flex-container-center tooltipped" data-position="top" data-tooltip="Restore Deleted Shapes" href="javascript:;"><img src="/files/icons/restore.svg" class="h38px"></img></a>
                                                <!-- <a class="flex-container-center margin-l-r-4" href="javascript:;"><i class="font-size-38 material-icons white-text">redo</i></a> -->
                                        </div>
                                        <div class="col s4 margin-0 padding-0 flex-container-center h50px">
                                                <a class="flex-container-center tooltipped" data-position="top" data-tooltip="Jump to Start" href="javascript:;" onclick="jumpToStart();"><i class="font-size-50 material-icons white-text">skip_previous</i></a>
                                                <a class="flex-container-center tooltipped" data-position="top" data-tooltip="Step Back" href="javascript:;" onclick="jumpBackward();"><i class="font-size-38 material-icons white-text" style="transform: rotate(180deg);">play_arrow</i></a>
                                                <a class="flex-container-center" href="javascript:;"><i id="playButton" class="font-size-50 material-icons white-text play-arrow">play_arrow</i></a>
                                                <a class="flex-container-center tooltipped" data-position="top" data-tooltip="Step Forward" href="javascript:;" onclick="jumpForward();"><i class="font-size-38 material-icons white-text">play_arrow</i></a>
                                                <a class="flex-container-center tooltipped" data-position="top" data-tooltip="Jump to End" href="javascript:;" onclick="jumpToEnd();"><i class="font-size-50 material-icons white-text">skip_next</i></a>
                                        </div>
                                        <div class="col s4 margin-0 padding-0 flex-container-right h50px">
                                                <a class="flex-container-center margin-l-r-4 tooltipped" data-position="top" data-tooltip="Grid on/off" href="javascript:;">
                                                        <i class="font-size-38 material-icons white-text grid">grid_off</i>
                                                </a>
                                                <a id="test_1" class="flex-container-center margin-l-r-4 tooltipped" data-position="top" data-tooltip="Fullscreen" href="javascript:;" onclick="goFullScreen();">
                                                        <i class="font-size-38 material-icons white-text">crop_free</i>
                                                </a>
                                        </div>
                                </div>
                        </div>


                        <!-- ___________________________ Settings Container ___________________________ -->
                        <div id="settings-container" class="col padding-0 rounded-corners-16 dark-grey-4 noselect">
                            <div id="settings" class="col s12 padding-0 rounded-corners-16-t dark-grey-4">
                                
                                        <!-- ___________________________ Element Register ___________________________ -->
                                        <div id="elements" class="col s12 padding-0 active">

                                                <!-- ___________________________ Element Tabs ___________________________ -->
                                                <ul id="elements-tabs" class="tabs dark-grey-3 white-text">
                                                    <li class="tab col s4"><a class="white-text padding-t-b-7" href="#shapes-container"><i class="font-size-38 material-icons">landscape</i></a></li>
                                                    <li class="tab col s4"><a class="white-text padding-t-b-7" href="#text-container"><i class="font-size-38 material-icons">text_fields</i></a></li>
                                                    <li class="tab col s4"><a class="white-text padding-t-b-7 margin-top-4" href="#pictures-container"><i class="small material-icons">lens</i></a></li>
                                                </ul>


                                                <!-- ___________________________ Shapes Container ___________________________ -->
                                                <div id="shapes-container" class="col s12 dark-grey-4 padding-0" style="overflow: auto">
                                                        <!-- Caregory Select Dropdown -->
                                                        <div class="row h64px dark-grey-3 right-align center" style="margin: 0 0 0.3% 0; border-radius: 0px 0px 4px 4px;">
                                                                <div class="input-field col s8 h64px margin-t-b-0 margin-auto padding-t-b-7">
                                                                        <select id="category" class="icons white-text" onchange="ShowSelectedCategory(this)" >
                                                                                <option value="basic" data-icon="/files/SVG/baseline-fiber_manual_record-24px.svg" class="left" selected>Basic</option>
                                                                                <option value="general" data-icon="/files/SVG/baseline-settings-20px.svg" class="left">General</option>
                                                                                <option value="informatics" data-icon="/files/SVG/baseline-memory-24px.svg" class="left">Informatics</option>
                                                                                <option value="custom" data-icon="/files/SVG/baseline-edit-24px.svg" class="left">Custom</option>
                                                                        </select>
                                                                </div>
                                                        </div>
                                                        
                                                        <div id="shapes-category-container" class="margin-0 padding-0">
                                                        <!--
                                                                <div class="rectangle shapecreator" style="background-color: blue; position: relative;"></div>
                                                                <div class="circle shapecreator" style="background-color: red; position: relative;"></div>
                                                        -->
                                                                <!-- Container für alle Kategorien (müssen denselben namen wie die values bei den optionen von category select haben) -->
                                                                <div id="basic" class="row margin-0 padding-0 dark-grey-4 fade-out display-none">

                                                                </div>

                                                                <div id="general" class="row margin-0 padding-0 dark-grey-4 fade-out display-none">

                                                                </div>

                                                                <div id="informatics" class="row margin-0 padding-0 dark-grey-4 fade-out display-none">

                                                                </div>

                                                                <div id="custom" class="row margin-0 padding-0 dark-grey-4 fade-out display-none">

                                                                </div>
                                                        </div>

                                                        <!-- Upload  -->
                                                        <div id="element-upload" class="row margin-0 padding-0 dark-grey-4 fade-out">
                                                                <!-- Upload  -->
                                                                <div class="squareX3 dark-grey-3">
                                                                        <div class="squareFULL-content">
                                                                            <!-- Upload  -->
                                                                                <form id="file-upload-form" class="uploader" action="/elements/shapes">
                                                                                <input id="file-upload" type="file" name="fileUpload" accept="image/*">

                                                                                        <label for="file-upload" id="file-drag">
                                                                                                <img id="file-image" src="/files/SVG/baseline-cloud_upload-24px.svg" alt="Preview" class="hidden" style="height: 48px; width: auto; float: center;">
                                                                                                <div id="start">
                                                                                                <i class="font-size-50 material-icons white-text center" aria-hidden="true">cloud_upload</i>
                                                                                                <i class="fa fa-download" aria-hidden="true"></i>
                                                                                                <div>Select a file or drag here</div>
                                                                                                <div id="notimage" class="hidden"></div>
                                                                                                        <!-- <span id="file-upload-btn" class="btn btn-primary">Select a file</span>-->
                                                                                                </div>
                                                                                                <div id="response" class="hidden">
                                                                                                <div id="messages"></div>
                                                                                                        <progress class="progress" id="file-progress" value="0">
                                                                                                                <span>0</span>%
                                                                                                        </progress>
                                                                                                </div>
                                                                                        </label>
                                                                                </form>    
                                                                        </div>       
                                                                </div>       
                                                        </div>
                                                    
                                                </div>


                                                <!-- ___________________________ TEXT Container ___________________________ -->
                                                <div id="text-container" class="col s12 dark-grey-4 padding-0" style="overflow: auto;">
                                                        <!-- Caregory Select Dropdown -->
                                                        <div class="row h64px dark-grey-3 right-align center" style="margin: 0px 0px 1px 0px">
                                                                <div class="input-field col s8 h64px margin-t-b-0 margin-auto padding-t-b-7">
                                                                        <select class="icons white-text">
                                                                                <option value="" data-icon="/files/SVG/baseline-text_fields-24px.svg" class="left center-align" selected>Web Safe</option>
                                                                        </select>
                                                                </div>
                                                        </div>
                                                        <div class="row margin-0 padding-0 dark-grey-4">

                                                                <% var fonts = ['Amatic SC', 'Arial', 'Trebuchet MS, Helvetica, sans-serif', 'Lucida Sans Unicode, Lucida Grande, sans-serif', 'Tahoma, Geneva, sans-serif', 'Verdana, Geneva, sans-serif' ,'Times New Roman, Times, serif', 'Georgia, serif', 'Palatino Linotype, Book Antiqua, Palatino, serif', 'Lucida Console, Monaco, monospace', 'Impact, Charcoal, sans-serif', 'Courier New, Courier, monospace'] %>
                                                                <% for (var i = 0; i < fonts.length ; i++) {%>
                                                                        <div class="squareX3x dark-grey-3">
                                                                                <div class="squareX3-content">
                                                                                        <div class="textFieldCreator" style="font-family: <%= fonts[i] %>; font-size: 5vh; text-align: center; color: #000;">Potion</div>
                                                                                </div>
                                                                         </div>  
                                                                <% } %>
                                                                <!--
                                                                <div class="squareX3x dark-grey-3">
                                                                        <div class="squareX3-content">
                                                                                <div class="textFieldCreator" style="font-family: 'Amatic SC'; font-size: 5vh; text-align: center;">Potion</div>
                                                                        </div>
                                                                 </div>
                                                                 -->
                                                        </div>
                                                </div>


                                                <!-- ___________________________ Pictures Container ___________________________ -->

                                                <div id="pictures-container" class="col s12 dark-grey-4 padding-0" style="overflow: auto">
                                                        <!-- Caregory Select Dropdown -->
                                                        <div class="row h64px dark-grey-3 right-align center" style="margin: 0px 0px 1px 0px">
                                                                <div class="input-field col s8 h64px margin-t-b-0 margin-auto padding-t-b-7">
                                                                        <select id="icon-category" class="icons white-text" onchange="ShowSelectedCategory(this)">
                                                                        </select>
                                                                </div>
                                                        </div>

                                                        <div id="icons-category-container" class="margin-0 padding-0">

                                                        </div>
                                                        <!-- Pictures -->
                                                <!--    <div class="row margin-0 padding-0 dark-grey-4">
                                                                <div class="square dark-grey-3">
                                                                        <div class="square-content">
                                                                                <img src="/files/potion.png" class="fit-in">
                                                                        </div>
                                                                 </div>
                                                                 <div class="square dark-grey-3">
                                                                        <div class="square-content">
                                                                                <img src="/files/miraculix.jpg" class="fit-in">
                                                                        </div>
                                                                 </div>

                                                                <div class="square dark-grey-3">
                                                                        <div class="square-content">
                                                                                <img src="/files/SVG/Potion_Angular.svg" class="fit-in">
                                                                        </div>
                                                                </div>

                                                            
                                                        </div>
                                                -->    
                                                
                                                </div>
                                    </div>

                                    <!-- ___________________________ Properties Tab ___________________________ -->
                                    <div id="adjustments" class="col s12 dark-grey-3 padding-l-r-32" style="overflow: auto">

                                        <!-- Object List -->
                                        <h4 id='propertiesTitle'>Objects</h4>
                                        <div class="row">
                                                <div class="collection" id='tabItems'>

                                                        <!-- Object -->
                                                        <div class="collection-item">
                                                                There are no Objects in the Scene.
                                                        </div>
                                                        <div class="collection-item">
                                                                <div class="row">
                                                                        <div class="col m5">
                                                                                Background Color:
                                                                        </div>
                                                                        <div class="col m7">
                                                                                <input oninput="setBackgroundColor(this.value)" type="color" value="#FFFFFF" name="bgColor" id="bgColor-input">
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                    </div>

                            </div>


                            <!-- ___________________________ Elements/Settings Register Tabs ___________________________ -->
                            <div id="settings-controls" class="col s12 padding-0 dark-grey-3 rounded-corners-16-b h50px noselect">
                                    <ul id="tabs" class="tabx h50px margin-0 ">
                                            <li class="col s6 dark-blue h50px x active" id="elementsTabButton"><a href="javascript:;">Elements</a></li>
                                            <li class="col s6 dark-blue h50px x" id="propertiesTabButton"><a href="javascript:;">Properties</a></li>
                                    </ul>
                            </div>

                        </div>

                        <div id="timeline" class="col s12 padding-0 rounded-corners-16 overflow-visible dark-grey-3" style="position: relative;">
                            <div style="width: 100%; height:32px">
                                <label for="timespan" style="margin-left: 16px">Duration in Seconds: </label><input type="number" id="timespan" class="browser-default" name="timespan" min="1" max="300" value="5" step="1" oninput="updateWholeDuration(this.value)">
                                <a id="freezeKeyframes" class="btn btn-small disabled blue-grey tooltipped" data-position='top' data-tooltip='Freeze Keyframes' style="float: right; margin-bottom: -12px"><i class="material-icons">ac_unit</i></a>
                                <a id="deleteKeyframe" class="btn btn-small disabled tooltipped" data-position='top' data-tooltip='Delete Keyframe' style="float: right; margin-bottom: -12px;background-color: #ef5350"><i class="material-icons">delete</i></a>
                                <a id="createKeyframe" class="btn btn-small disabled tooltipped" data-position='top' data-tooltip='Create Keyframe' style="float: right; margin-bottom: -12px; background-color: rgb(131, 198, 134)"><i class="material-icons">add</i></a><br style="clear: both;">

                           </div>
                            <p class="range-field padding-0 margin-0" style="margin:0; height:24px"><input type="range" id="timelinePointer" min="0" max="100" step="0.1" value="0" onChange="updateAllValues()"></p>
                            <div id="timeline-grid" style="position: absolute; width:100%; height:24px; opacity: 1; transition: 0.2s; pointer-events: none">
                                <div style="position: absolute; width:1px; height:100%; left: 10%; z-index:10; background-color: rgb(223, 223, 223)"></div>
                            </div>
                            <div id="keyframeArea"></div>
                            <div id="frozenKeyframeArea"></div>
                        </div>

                    </div>








    <!--   _____________________________  END General Site Structure  _____________________________  -->

<input id="potionDataHiddenInputText" type="text" style="display: none;" value="<%= data %>">

<!-- _________________________________________ END Content _________________________________________ -->



<!-- _____________________________________ Scripts _____________________________________ -->

  <script src="/scripts/included/jquery/jquery-3.4.1.min.js"></script>
  <script src="/scripts/included/materialize/materialize.min.js"></script>
  <script src="/scripts/init.js"></script>
  <script src="/scripts/editor.js"></script>

  <!-- <script src="/scripts/included/anime/anime.es.js"></script> -->
  <script src="/scripts/included/anime/anime.min.js"></script>
  <script src="/scripts/included/interactJs.js/interact.min.js"></script>
  <!-- <script src="/scripts/myscript.js"></script> -->

  <!-- <script src="/scripts/included/svg-inject/svg-inject.min.js"></script> -->
  <script src="/scripts/LinkedList.js"></script>
  <script src="/scripts/classes.js"></script>
  <script src="/scripts/canvas.js"></script>
  <script src="/scripts/propertiestab.js"></script>

<!-- _____________________________________ END Scripts _____________________________________ -->

  </body>
</html>
