<!DOCTYPE html>
<html lang="de">

<head>
  <title>Funktionstest</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles-old.css">
  <script type="text/javascript" src="scripts/included/anime/anime.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
  <script src="scripts/myscript-old.js"></script>
</head>

<body>
  <div class="myCanvas" style="display: inline-block">
    <div class="resize-drag" id="resize-drag"></div>
  </div>

  <button onclick="play()">Play</button>
  <button onclick="createKeyframe()">Create Keyframe</button>
  <br>

  <div class="slidingbob">
      <input type="range" min="1" max="100" value="0" class="slider" id="myRange">
  </div>
  <div class="timeline" id="timeline">
    <div class="punkt"></div>
  </div>

</body>

</html>
