<!DOCTYPE html>
<html lang="de">

<head>
  <title>Funktionstest</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="css/styles-Functionality.css">

  <script type="text/javascript" src="scripts/included/anime/anime.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
  <script src="scripts/myscript.js"></script>
</head>

<body>
  <div id="myCanvas"></div>

  <div id="controls-top">
    <button id="createRectangle">Create Rectangle</button><br>
    <button id="createCircle">Create Circle</button><br>
    <button id="createText">Create Textarea</button><br>
    <button id="deleteButton">Delete</button>
  </div>

  <div style="vertical-align: bottom; display: inline-block;">
    <button id="playButton">Play</button><br>
  </div>
</body>

</html>
