
<!Doctype HTML>
<html lang="de">

<head>
	<title>Potion</title>
	<%- include('snippets/header'); -%>
</head>


<body>

  <%- include('snippets/navbar'); -%>

   <!-- ________________________________________ CONTENT _____________________________________________ -->


<div class="container">
	<h2>Impressum</h2>

	<p>TH Köln</p>
	<p>Claudiusstr. 1</p>
	<p>50678 Köln</p>

	<h4>Postanschrift</h4>
	<p>Gustav-Heinemann-Ufer 54</p>
	<p>50968 Köln</p>

	<p>T: + 49 221-8275-0</p>
	<p>F: + 49 221-8275-3131</p>
	<p>E: poststelle@th-koeln.de</p>

	<p>Die TH Köln (Technische Hochschule Köln) ist eine Körperschaft des Öffentlichen Rechts.
	Sie wird durch den Präsidenten Prof. Dr. Stefan Herzig gesetzlich vertreten.</p>

	<h4>Zuständige Aufsichtsbehörde:</h4>
	<p>Ministerium für Kultur und Wissenschaft des Landes Nordrhein-Westfalen</p>
	<p>Völklinger Str. 49</p>
	<p>40221 Düsseldorf</p>
	<p>T: +49 211-896-04</p>
	<p>F: +49 211-896-4555</p>
	<a>http://www.wissenschaft.nrw.de/</a>

	<h4>Umsatzsteuer-Identifikationsnummer gem. § 27a Umsatzsteuergesetz:</h4>
	<p>DE 122653679</p>
</div>


 <!-- _________________________________________ END Content _________________________________________ -->

      <%- include('snippets/footer'); -%>

  </body>
</html>
