<!Doctype HTML>
<html lang="de">

<head>
	<title>Willkommen</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
	<span class="yellow">
		"Willkommen auf Potion: Animate &
		Educate!"
	</span>

	<% if (typeof username != 'undefined') { %>
		Username: <%=username%>
	<% } %>
</body>

</html>
