<!Doctype HTML>
<html lang="de">

<head>
	<title>Lessons</title>
	<%- include('snippets/header'); -%>
</head>

<body>

	<%- include('snippets/navbar'); -%>


	<!-- Page Content -->
	<div class="container min-height">
		<%- include('snippets/dropdown-lesson-neu'); -%>
		<div class="divider hide-on-small-and-down"></div>

	<!-- Lesson List -->
	<%if (lessons.length === 0) { %>
		<div class="center-align">
			<h5>
				No lessons found. Start now by clicking the <span class="dark-blue-text">CREATE LESSON</span> Button!
			</h5>
		</div>
	<% } else{ %>
		<% for (let i = 0; i < lessons.length; i++) { %>
			<%- include('snippets/list-element', {element: lessons[i]}); -%>
		<% } %>		
	<% } %> 	

	
	<!-- Page Content End -->
	</div>

	<%- include('snippets/footer'); -%>

</body>

</html>
