<!Doctype HTML>
<html lang="de">

<head>
	<title>My Animations</title>
	<%- include('snippets/header'); -%>
</head>

<body>

	<%- include('snippets/navbar'); -%>


	<!-- Page Content -->
	<div class="container min-height">	<!-- CONTAINER -->
		<%- include('snippets/dropdown-animation-neu'); -%>
		<div class="divider hide-on-small-and-down"></div>
	
	<!-- Animation List -->
	<%if (animations.length === 0) { %>
		<div class="center-align">
			<h5>
				No animations found. Start now by clicking the <span class="potion-magenta">CREATE ANIMATION</span> Button!
			</h5>
		</div>
	<% } else { %>
		<% for (let i = 0; i < animations.length; i++) { %>
			<%- include('snippets/list-element', {element: animations[i]}); -%>
		<% } %>		
	<% } %>
	
	<!-- Page Content End -->
	</div>



	<%- include('snippets/footer'); -%>

</body>

</html>
