<!Doctype HTML>
<html lang="de">

<head>
	<title>Manage Lesson</title>
	<%- include('snippets/header'); -%>
</head>

<body>

	<%- include('snippets/navbar'); -%>

	<!-- Page Content -->
	<div class="container min-height">	<!-- CONTAINER -->
		<%- include('snippets/dropdown-manage-lesson'); -%>
		<div class="divider"></div>
	
		<!-- Animation List -->
		<%if (animations.length === 0) { %>
			<div class="center-align">
				<h5>
					This Lesson contains no animations yet. Start now by clicking the <span class="dark-blue-text">ADD ANIMATION</span> Button!
				</h5>
			</div>
		<% } else{ %>
			<% for(let i = 0; i < animations.length; i++) { %>
				<%- include('snippets/list-element', {element: animations[i]}); -%>
			<% } %>		
		<% } %>

	
	<!-- Page Content End -->
	</div>


	<%- include('snippets/footer'); -%>
</body>

</html>
