<!Doctype HTML>
<html lang="de">

<head>
	<title>My Profile</title>
	<%- include('snippets/header'); -%>

</head>

<body>

	<%- include('snippets/navbar'); -%>


	<!-- Page Content -->
	
	<div class="container min-height">

        <!-- Title -->
		<div class="row dropdown-search-row" style="margin-bottom:0;">
			<div>
		        <div class="row dark-blue-to-light-blue valign-wrapper noselect h50px" style="margin-top: 10px; border-radius: 25px 25px">
					<div class="col s3 valign-wrapper">
						<i class="material-icons white-text" style="font-size:2rem; margin-left: 8px">account_circle</i>
					</div>
					<div class="col s6 white-text center title">
						My Profile
					</div>					
					<%if (user.isAdmin == '1') { %>
						<div class="col s3 valign-wrapper">
							<a href="/admin"><i class="material-icons white-text" style="font-size:2rem; margin:5px 0 0 32px">build</i></a>
							<a href="/admin" class="potion-font dark-blue-text title hide-on-small-only" style="margin-left: 10px;">Admin</a>
						</div>
					<% } else{ %>
						<div class="col s3 valign-wrapper"></div>
					<% } %>				
		      	</div>
		   </div>
		</div>

		<div class="row">
			<!--   Profile Pic   -->
			<div class="col m6 hide-on-small-only">
				<div class="row">					
					<h5 id="welcome-text dark-blue-text">Welcome, <%= user.username %>.</h5>					
				</div>
				<div class="row hide-on-small-only">
					<img id="profile-potion" src="/files/potion2.png" alt="Bild kann nicht gezeigt werden">
				</div>
			</div>

			<!--   Profile Info   -->
			<form action="profile" method="POST">

				<div class="col m6 s12">

					<div class="row">
						<div class="col s9 hide-on-med-and-up">
							<h5 id="welcome-text dark-blue-text">Welcome, <%= user.username %>.</h5>
						</div>

						<!--   Submit Button   -->
						<div class="col s3 m12">
							<div id="save-button-div">
								<div class="right-align">
									<button type="submit" class="btn light-blue-to-dark-blue"><i class="medium material-icons">save</i></button>
								</div>
							</div>
						</div>
					</div>				

					<!--   Name   -->
					<div class="row" id="first-row-infotags">
						<div class="col m4 hide-on-small-only">
							<p class="info-tag">New Name: </p>
						</div>
						<div class="col m8 s12">
							<div class="input-field">
					          <input id="name" name="name" type="text" class="validate" value="<%= user.username %>">
					          <label for="name">New Name</label>
				        	</div>
						</div>					
					</div>

					
					<!--   E-Mail   -->
				<!--
					<div class="row info-tag-div">
						<div class="col m4 hide-on-small-only">
							<p class="info-tag">E-Mail: </p>
						</div>
						<div class="col m8 s12">
							<div class="input-field">
					          <input id="mail" name="mail" type="text" class="validate">
					          <label for="mail"><%= user.email %></label>
				        	</div>
						</div>					
					</div>
				-->

					<!--   Repeat E-Mail   -->
				<!--
					<div class="row info-tag-div">
						<div class="col m4 hide-on-small-only">
							<p class="repeat">Confirm E-Mail: </p>
						</div>
						<div class="col m8 s12">
							<div class="input-field">
					          <input id="repeat-mail" name="rptmail" type="text" class="validate">
					          <label for="repeat-mail">...</label>
				        	</div>
						</div>					
					</div>
				-->
					

					<!--   Old Password   -->
					<div class="row info-tag-div">
						<div class="col m4 hide-on-small-only">
							<p class="repeat">Enter old Password: </p>
						</div>
						<div class="col m8 s12">
							<div class="input-field">
					          <input id="oldpw" name="oldpw" type="password" class="validate">
					          <label for="oldpw">Old Password</label>
				        	</div>
						</div>					
					</div>

					<!--   New Password   -->
					<div class="row info-tag-div">
						<div class="col m4 hide-on-small-only">
							<p class="repeat">Enter new Password: </p>
						</div>
						<div class="col m8 s12">
							<div class="input-field">
					          <input id="pw" name="newpw"type="password" class="validate">
					          <label for="pw">New Password</label>
				        	</div>
						</div>					
					</div>

					<!--   Password Repeat   -->
					<div class="row info-tag-div">
						<div class="col m4 hide-on-small-only">
							<p class="repeat">Confirm Password: </p>
						</div>
						<div class="col m8 s12">
							<div class="input-field">
					          <input id="pw-rep" name="rptpw" type="password" class="validate">
					          <label for="pw-rep">Confirm Password</label>
				        	</div>
						</div>					
					</div>

				</div>

			</form>
			
		</div>

		<!-- Delete Account Pop-up -->
		<div class="row right-align">
			<!-- Modal Trigger / Button for Popup-->
			<a class="waves-effect waves-light modal-trigger potion-magenta" href="#delete-account">Want to delete your Account?</a>
		</div>

		  <!-- Modal Structure / Popup Window -->
		  <div id="delete-account" class="modal popup">
		    <div class="modal-content">
		    	<div class="row center">		    		
		    		<i class="material-icons potion-magenta large">priority_high</i>		    			    		
		    	</div>
		    	<div class="row center">
		    		<h5 class="dark-blue-text">Do you really want to delete your Account?</h5>
		    		<h5 class="dark-blue-text">Yes I want to permanently delete my Account.</h5>
		    	</div>
		    	<div class="row center">
		    		<a href="/delete-account?userId=<%= user.id %>" class="potion-magenta" id="delete-account-confirm"><i id="delete-account-icon" class="material-icons flow-text medium">delete</i></a>		    		
		    	</div>		    	
		    </div>
		    <div class="modal-footer">
		      <a href="javascript:;" class="modal-close btn-flat">Cancel</a>
		    </div>
		  </div>
		<!-- END Delete Account Pop-up -->

		
		
	</div>

	<!-- Page Content End -->


	<%- include('snippets/footer'); -%>

</body>

</html>
