<!Doctype HTML>
<html lang="de" style="height:1vh">

<head>
	<title>Login</title>
   <%- include('snippets/header'); -%>
</head>

<body class="dark-blue-to-magenta">
	<div class="row loginrow">
   <div class="col s12 l12 m12 welcometitle potion-font">
      <div class="col s2 show-on-small">
            <img class=" hide-on-med-and-up show-on-small" src="/files/potion2.png" alt="Bild kann nicht gezeigt werden" style="height: 120px; margin-top: 40px">
      </div> 
   	<div class="col l12 m12 s10">
            <h2> Welcome to Potion </h2>
            <h4 class="hide-on-small-and-down"> Animate and Educate </h4>
      </div>
   </div>
   <div class="col l6 m6 hide-on-small-only imgdiv">
      <img class="potionimg" src="/files/potion2.png" alt="Bild kann nicht gezeigt werden" style="margin-top: 40px !important;">
      <h1 class="welcometitle margin-0" style="margin-top: -40px !important;">Potion </h1>
   </div>
   <div class="col l6 m6 s12 formdiv">
      <div class="container">
         <ul class = "collapsible" data-collapsible = "accordion">
         <li>
            <div class = "collapsible-header center">
                  <p class="formtitle">Login</p></div>
            <div class = "collapsible-body active">
               <div class="login-form">
                     <form action="/login" method="POST">
                        <input type="email" name="email" placeholder="E-Mail" autofocus required>
                        <input type="password" name="password" placeholder="Password" required>
                        <button type="submit" class="waves-effect waves-light">Login</button>
                     </form>
               </div>
            </div>
            </li>
            <li>
               <div class = "collapsible-header center">
                  <p class="formtitle">Register</p></div>
               <div class = "collapsible-body">
                  <div class="login-form">
                        <form action="/register" method="POST">
                           <input type="text" name="username" placeholder="Username" required>
                           <input type="email" name="email" placeholder="Email" required>
                           <input type="email" name="emailrepeat" placeholder="Repeat Email" required>
                           <input type="password" name="password" placeholder="Password" required>
                           <!--<input type="password" name="pwdrepeat" placeholder="Repeat Password" required>-->
                           <button type="submit" class="waves-effect waves-light">Register</button>
                        </form>
                     </div>
                  </div>
            </li>
         </ul>
      </div>
   </div>
</div>
	<!-- Page Content End -->

</body>

</html>
