<!Doctype HTML>
<html lang="de">

<head>
	<title>Potion</title>
	<%- include('snippets/header'); -%>
</head>


<body>

  <%- include('snippets/navbar'); -%>

  <!-- _____________________________________ Content _____________________________________ -->


  <!-- Content -->
  <div class="container min-height">
    <div class="section white-text">


          <div class="row">
            <!--   Welcome   -->
            <div class="col s12 margin-top-16">
                  <h3 class="dark-blue-text potion-font start-welcome" id="welcome-text">Welcome, <%= user.username %>.</h3>  
            </div>
          </div>



          <!--   Start Section   -->
          <div class="row">

                <!-- Lessons -->
                <div class="col m6 s12">
                  <!--Lessons-->
                    <a href="/lessons" class="white-text">
                        <div class="col s12 m12 margin-top-32 rounded-corners dark-blue-to-light-blue waves-effect waves-light start-boxes">
                          <div class="icon-block" style="height: 230px;">
                            <h2 class="center" style="height:105.033px;"><i class="large material-icons">personal_video</i></h2>
                            <h4 class="center potion-font">Lessons</h4>
                            <p class="light center potion-font-2">Manage your Lessons</p>
                          </div>
                        </div>
                    </a>
                    <!--Create Lessons-->
                    <form method="post" action="/lessons">
                        <div class="col s12 m12 margin-top-16 rounded-corners dark-blue-to-light-blue waves-effect waves-light start-create-boxes">
                        <button type="submit" style="background-color: rgba(0,0,0,0);width:100%;display:block;outline:none;border:0">
                            <div class="icon-block valign-wrapper white-text" style="height: 140px;">
                              <div class="col m4 m4 center-align"><i class="large material-icons center-align">add_circle</i></div>
                              <div class="col m8 s8 center-align margin-0"><h4 class="potion-font center-align">Create Lesson</h4></div>
                            </div>                      
                         </button>
                        </div>
                    </form>
                </div>

                <!-- Animations -->
                <div class="col m6 s12">
                    <!--Animations-->
                    <a href="/animations" class="white-text">
                        <div class="col s12 m12 margin-top-32 rounded-corners dark-blue-to-magenta waves-effect waves-light start-boxes">
                          <div class="icon-block" style="height: 230px;">
                              <h2 class="center" style="height:105.033px;"><img class="large margin-top-8" style="height:6rem;" src="/files/SVG/Potion_Angular_White.svg"></h2>
                            <h4 class="center potion-font">Animations</h4>
                            <p class="light center potion-font-2">Manage your Animations</p>
                          </div>
                        </div>
                    </a>
                    <!--Create Animation-->
                    <form method="post" action="/animations">
                      <div class="col s12 m12 margin-top-16 rounded-corners dark-blue-to-magenta waves-effect waves-light start-create-boxes hide-on-small-and-down">
                        <button type="submit" style="background-color: rgba(0,0,0,0);width:100%;display:block;outline:none;border:0">
                          <div class="icon-block valign-wrapper white-text" style="height: 140px;">
                            <div class="col m4 s4 center-align margin-0"><i class="large material-icons center-align">add_circle</i></div>
                            <div class="col m8 s8 center-align"><h4 class="potion-font center-align">Create Animation</h4></div>
                          </div>
                        </button>
                      </div>
                    </form>
                </div>

          </div>

    </div>
  </div>

  <div class="section"></div>


  <!-- _________________________________________ END Content _________________________________________ -->

      <%- include('snippets/footer'); -%>

  </body>
</html>
