<script>
</script>

<!Doctype HTML>
<html lang="de">

<head>
  <title>Lesson</title>
  <%- include('snippets/header'); -%>
</head>

<body>

  <!-- Page Content -->


  <div class="container min-height-100">

    <div class="row margin-0">

      <!--  Title   -->
      <div class="row text-center dark-blue-to-light-blue rounded-corners-16 margin-top-8">
        <h2 class="white-text potion-font margin-top-16"><%= title %></h2>
      </div>
      <div class="row">
        <h6 class="dark-blue-text margin-left-16"><%= desc %></h6>
      </div>

      <!-- Divider (larger than small devices)-->
      <div class="col s12 divider"></div>
    </div>


    <!-- Lesson View -->
    <div class="section">
      <%if (animations.length === 0) { %>
        <div class="center-align">
          <h5>No Animation in Lesson</h5>
        </div>
      <% } else{ %>
      
        <% animations.forEach(
  						function(anim){ %>

        <div class="row h64px rounded-corners-16 dark-blue-to-magenta margin-t-b-8">

          <!-- Thumbnail -->
          <div class="col s2 center">
            <img class="view-thumbnail rounded-corners-16 hide-on-small-and-down" width="100" height="auto"
              src="/files/thumbnails/<%= anim.id %>.png"
              onerror="if (this.src != '/files/thumbnails/error.jpg') this.src = '/files/thumbnails/error.jpg';">
          </div>
          <!-- Play Button -->
          <div class="col s1 center padding-0">
            <a href="/view?animation=<%= anim.share %>" class="col s12 padding-0 margin-top-4"><i
                class="material-icons medium white-text">play_arrow</i></a>
          </div>

          <!-- Animation Title, Time, Info -->
          <div class="col s9 margin-top-8">
            <div class="left white-text potion-font fs-32px">
              <%= anim.title %> <a class="durationtext fs-24px hide-on-small-only"> <%= anim.duration %> </a>
            </div>
            <div class="col right">
              <!-- Modal Trigger -->
              <a href="#descModal<%= anim.id %>" class="col s12 center margin-top-8 modal-trigger"><i
                  class="material-icons white-text small">info</i> </a>
              <!-- Modal Structure / Popup Window -->
              <div id="descModal<%= anim.id %>" class="modal popup">
                <div class="modal-content">
                  <div>
                    <h2 class="dark-blue-text potion-font"><%= anim.title %></h2>
                  </div>
                  <div>
                    <h6 class="dark-blue-text"><%= anim.description %></h6>
                  </div>
                </div>
                <div class="modal-footer">
                  <a href="javascript:;" class="modal-close btn-flat">Close</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <% }); %>

      <% } %>

    </div>
  </div>

  <!-- Page Content End -->

  <%- include('snippets/footer'); -%>
</body>

</html>