<!Doctype HTML>
<html lang="de">

<head>
	<title>View Animation</title>
	<%- include('snippets/header'); -%>

	<style>
		html,
		body {
			height: 100%;
			background-color: #222;
		}

		#navigation {
			position: absolute;
			height: 200px;
			width: 150px;
			left: 0;
			right: 0;
			/* vertical align */
			top: 50%;
			transform: translateY(-50%);
			/* horizontal align */
			margin-left: auto;
			margin-right: auto;
			overflow: hidden;
			z-index: 0;
			font-size: 100vh;
		}

		#body {
			position: absolute;
			width: 100%;
			height: 60%;
			top: 16%;
		}

		#footer {
			position: absolute;
			width: 100%;
			height: 24%;
			top: 76%;
		}

		#title {
			vertical-align: middle;
		}

		@media screen and (min-width: 600px) {
			#header {
				position: relative;
				width: 100%;
				height: 16%;
				padding: 1.3% 2%;
				font-size: 40px;
			}

			#header a i {
				font-size: 40px;
			}

			#play {
				width: 150px;
				height: 150px;
				margin: 0 auto;
				border-radius: 20px;
			}

			#play a i {
				font-size: 150px;
			}

			#time {
				height: 50%;
				font-size: 25px;
			}

			#time a i {
				font-size: 35px;
			}
		}

		@media screen and (max-width: 600px) {
			#header {
				position: relative;
				width: 100%;
				height: 16%;
				padding: 1.3% 2%;
				font-size: 25px;
			}

			#header a i {
				font-size: 30px;
			}

			#play {
				width: 100px;
				height: 100px;
				margin: 0 auto;
				border-radius: 20px;
			}

			#play a i {
				font-size: 100px;
			}

			#time {
				height: 50%;
				font-size: 15px;
			}

			#time a i {
				font-size: 20px;
			}
		}

		#controls {
			width: 94%;
			margin: 0 auto;
			font-size: 20px;
		}

		.text-shadow {
			text-shadow: 5px 5px 10px #000000a7;
		}

		#canvas {
			position: absolute;
			height: 200px;
			width: 150px;
			left: 0;
			right: 0;
			/* vertical align */
			top: 50%;
			transform: translateY(-50%);
			/* horizontal align */
			margin-left: auto;
			margin-right: auto;
			z-index: 0;
			font-size: 100vh;
		}

		.opacity-33 {
			opacity: 0.33;
		}

		.darken-bg {
			background-color: #0000004f;
			box-shadow: 0px 0px 5.5vh 5.5vh #0000004f;
		}

		.shape {
			position: absolute;
		}

		.textField {
			position: absolute;
		}

		#controls {
			height: 100%;
		}

		#timeline {
			height: 50%;
		}
	</style>
</head>

<body style="width: 100%">
	<div id="canvas-container" class="col padding-0 margin-0" style="width:100%; height:100%">
		<div id="canvas" class="white-text noselect ">

		</div>


		<div id="navigation" style="transition: opacity 0.5s" class="noselect">

			<div id="header" class="row margin-0 darken-bg">

				<div class="col left white-text text-shadow">
					<%= title %>
				</div>

				<!-- Modal Trigger -->
				<a href="#descModal" class="col left text-shadow modal-trigger">
					<i class="large material-icons white-text">info</i>
				</a>
				<!-- Modal Structure / Popup Window -->
				<div id="descModal" class="modal popup">
					<div class="modal-content">
						<div>
							<h2 class="dark-blue-text potion-font"><%= title %></h2>
						</div>
						<div>
							<h6 class="dark-blue-text"><%= description %></h6>
						</div>

					</div>
					<div class="modal-footer">
						<a href="javascript:;" class="modal-close btn-flat">Close</a>
					</div>
				</div>

				<a href="javascript:;" class="col right text-shadow">
					<i class="large material-icons white-text" onclick="window.history.back();">close</i>
				</a>




			</div>
			<div id="body" class=" valign-wrapper center-align">

				<div id="play" class="dark-blue-to-magenta center z-depth-5">
					<a class="flex-container-center" href="javascript:;"><i id="playButton"
							class="font-size-50 material-icons white-text play-arrow">play_arrow</i></a>
				</div>

			</div>
			<div id="footer" class="darken-bg">

				<div id="controls">
					<div id="time" class="white-text text-shadow">
						<div class=" left margin-0">
							<%= duration %>
						</div>
						<a class="col margin-l-r-4 tooltipped right" data-position="top" data-tooltip="Fullscreen"
							href="javascript:;" onclick="goFullScreen();">
							<i class=" material-icons white-text">crop_free</i>
						</a>
					</div>
					<form action="javascript:;" id="timeline" class="margin-0">
						<p class="range-field" style="height: 100%;">
							<input type="range" class="margin-0 text-shadow" id="timelinePointer" min="0" max="100"
								step="0.1" value="0" style="height: 100% !important; border:0; top:-20%">
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>

	<input id="potionDataHiddenInputText" type="text" style="display: none;" value="<%= data %>">
	<input type="number" id="timespan" class="browser-default show_hide" name="timespan">
</body>

<script src="/scripts/included/anime/anime.min.js"></script>
<script src="/scripts/classes.js"></script>
<script src="/scripts/view.js"></script>

</html>