.yellow {
  background-color: yellow;
}

div[id^='punkt'] {
  position: relative;
  border-radius: 50%;
  background-color: red;
  height: 15px;
  width: 15px;
}

.myCanvas {
  background-color: grey;
  height: 500px;
  width: 500px;
}

.slider {
  width: 500px;
}

.punkt {
  position: relative;
  left: calc(50% - 7.5px);
  border-radius: 50%;
  background-color: red;
  height: 15px;
  width: 15px;
}

.timeline, .slidingbob {
  width: 500px;
  height: 20px;
  padding: 5px;
  margin-top: 2px;
  background-color: grey;
}

.resize-drag {
  touch-action: none;
  user-select: none;
  -moz-user-select: none;

  background-color: #29e;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 8px;
  padding: 20px;
  touch-action: none;

  width: 120px;

  /* This makes things *much* easier */
  box-sizing: border-box;
}


/* Register Page */
.register-form {
	width: 300px;
	margin: 0 auto;
	font-family: Tahoma, Geneva, sans-serif;
}
.register-form h1 {
	text-align: center;
	color: #4d4d4d;
	font-size: 24px;
	padding: 20px 0 20px 0;
}
.register-form input[type="password"],
.register-form input[type="text"] {
	width: 100%;
	padding: 15px;
	border: 1px solid #dddddd;
	margin-bottom: 15px;
	box-sizing:border-box;
}
.register-form input[type="submit"] {
	width: 100%;
	padding: 15px;
	background-color: #535b63;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
}
.register-button input[type="submit"]{
	width: 100%;
	padding: 15px;
	background-color: orange;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: bold;
	color: white;
}

/*Login Page*/
.login-form {
	width: 300px;
	margin: 0 auto;
	font-family: Tahoma, Geneva, sans-serif;
}
.login-form h1 {
	text-align: center;
	color: #4d4d4d;
	font-size: 24px;
	padding: 20px 0 20px 0;
}
.login-form input[type="password"],
.login-form input[type="text"] {
	width: 100%;
	padding: 15px;
	border: 1px solid #dddddd;
	margin-bottom: 15px;
	box-sizing:border-box;
}
.login-form input[type="submit"] {
	width: 100%;
	padding: 15px;
	background-color: #535b63;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
}
.register-button input[type="submit"]{
	width: 100%;
	padding: 15px;
	background-color: orange;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: bold;
	color: white;
}
