/* Functionality Tests */
.shape {
  position: absolute;
  display: inline-block;
  border: 1px solid transparent;
}

.rectangle {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  background-color: lightblue;
  height: 50px;
  width: 50px;
  border: 1px solid lightgrey;
}

.circle {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  background-color: red;
  height: 50px;
  width: 50px;
  border: 1px solid lightgrey;
  border-radius: 50%;
}

.textarea {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  background-color: white;
  height: 75px;
  width: 100px;
  border: 1px solid lightgrey;
}

.selected {
  border: 1px dashed grey;
}

.selectedObj {
  border: 2px dashed blue;
}

#controls-top {
  vertical-align: top;
  display: inline-block;
}

#canvas {
  position: relative;
  display: inline-block;
  height: 500px;
  width: 500px;
  touch-action: none;
  user-select: none;
  -moz-user-select: none;
  /* background-color: black !important; */
  border-radius: 3px 3px 0px 0px;
}

/* TABS */
.tabs .tab a:focus.active{
  background-color: rgba(255,255,255,0.005);
}

.tabs .tab a.active{
  background-color: rgba(255,255,255,0.05);
}

.tabs .indicator{
  background-color: #fff;
  opacity: 0.50;
}

#elements-tabs{
  box-shadow: 0px 3px 3px 0px #43434345;
}

/* ----- Upload ----- */

.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 600px;
}
.uploader label {
  float: left;
  clear: both;
  width: 100%;
  height: 100%;
  padding: 5%;
  text-align: center;
  background: #666;
  /*border-radius: 7px;*/
  border: 3px solid #666;
  transition: all .2s ease;
  user-select: none;
  font-size: 1rem;
  opacity: 0.66;
  color: #d4d4d4;
}

.uploader label:hover {
  background: #666;
  border-radius: 3px;
  border: 3px solid #999;
  transition: all .2s ease;
  cursor: pointer;
  opacity: 1;
}

.uploader label {
  opacity: 0.75;
}

.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}

.uploader #start.hidden {
  display: none;
}

.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}

.uploader #response.hidden {
  display: none;
}

.uploader #file-image {
  display: inline;
  margin: 0 auto .5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;
}

.uploader #file-image.hidden {
  display: none;
}

.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}

.uploader #not-image.hidden {
  display: none;
}

.uploader progress,
.progress {
  appearance: none;
  display: inline;
  clear: both;
  margin: 3% auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}

.progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}

.progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, darken(#999,8%) 0%, #999 50%);
  border-radius: 4px;
}
.progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, darken(#333,8%) 0%, #333 50%);
  border-radius: 4px;
}

input[type="file"] {
  display: none;
}

/*Select Dropdown Field*/
.select-dropdown{
  color: #d4d4d4;
  border: 0 !important;
  box-shadow: 0 !important;
  text-align: center;
}

.dropdown-content .selected{
  color: #d4d4d4;
  border: 0 !important;
  box-shadow: 0 !important;
}

.input-field input[type=text]:focus{
  box-shadow: 0 0px 0 0 !important;
}

/*Dropdown Arrow*/
.caret path:first-child{
  fill: #d4d4d4;
}

.collection{
  background-color: transparent;
  border: 0;
}
.collection .collection-item{
  background-color: transparent !important;
  color: #d4d4d4 !important;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  transition: 0.2s ease;
}

.collection .collection-item:hover{
  background-color: #999 !important;
  color: #d4d4d4 !important;
}

.collection-itemNoHover{
  background-color: transparent !important;
  color: #d4d4d4 !important;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  transition: 0.2s ease;
  margin-top: 10px;
  padding-bottom: 10px;
}

/* editor keyframes */
#keyframeArea {
  margin-top: 0px; 
  height: 22px;
  padding: 0;
  position: relative;
  background-color: rgb(190, 190, 190);
  /* border-bottom: 1px solid rgb(223, 223, 223); */
}

#frozenKeyframeArea {
  height: 22px;
  padding: 0;
  position: relative;
  background-color: #666;
  border-radius: 0px 0px 8px 8px; 
}

.keyframe {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background-color: rgb(80, 174, 87);
  height: 15px;
  width: 15px;
  top: 2px;
}

.boundaryKeyframe {
  position: absolute;
  display: inline-block;
  background-color: #666;
  height: 15px;
  width: 3px;
  top: 2px;
}

.frozenKeyframe {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background-color: rgb(32, 44, 102);
  /* opacity: 0.6; */
  height: 15px;
  width: 15px;
  top: 2px;
}

.active {
  /* repräsentiert den thumb bei der timeline. soll vor allem anderen sichtbar sein */
  z-index: 997;
}

.selectedKeyframe {
  background-color: blue;
}

#timespan {
  display: inline-block;
  background-color: transparent;
  color: rgb(190, 190, 190);
  border: 1px solid rgb(190, 190, 190, 0.5);
  border-radius: 4px;
  width: 50px;
  padding: 3px;
  margin-top: 7px;
  margin-left: 3px;
  vertical-align: -7%;
}

.hidden {
  display: none;
}
  .delete-element{
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    height: 20%;
    line-height: 0;
    color: #fff;
    border-radius: 15%;
    opacity: 0.05;
    cursor: pointer;
  }
  .delete-element:hover{
    opacity: 1;
    transition: 0.2s ease;
    transition-delay: 0.1s;
    background-color: #ff000070;
  }
  .delete-element:active{
    transition: 0.05s ease;
    opacity: 1;
    background-color: #ff0000dd;
  }
  .delete-element img{
    width: 75%;
    height: 75%;
    margin: auto auto;
    -webkit-filter: invert(); /* Safari 6.0 - 9.0 */
    filter: invert(100%);
    
  }
  .slide-out{
    opacity: 0;
    width: 0% !important;
    height: 0% !important;
    padding: 0 !important;
    margin: 0 !important;
    transition: 0.3s ease;
    overflow: hidden;
  }
  .fade-out{
    opacity: 0;
    transition: 0.3s ease;
  }
  .display-none{
    display: none;
  }

  .hover-upload div{
    transform: scale(0.9);
    opacity: 0.8;
    transition: all 0.3s;
  }

  .select-dropdown li img{
    opacity: 0.9;
  }
  .select-dropdown li{
    opacity: 0.7;
  }

  .t-dot{
    position: absolute; 
    width: 8px; 
    height: 8px;
  }

  .r-dot{
    position: absolute; 
    width: 10px; 
    height: 10px;
  }

  #transformTool{
    border: 1px solid #91d7f2;
  }
  .rotation-handle{
    cursor: crosshair !important;
  }

  #timelinePointer{
    height: 24px;
    border: 0px;
    margin: 0px 0px 12px 0px;
    overflow: hidden;
  }

  ::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 0;
    background: white !important;
    /* border: 1px solid white !important; */
    /* box-shadow: 0px 0px 10px 0px white; */
    /* box-shadow: calc(-100vw + -7px) 0 0 100vw #91d7f2; */
}

.thumb{
  background-color: rgb(190, 190, 190) !important;
}

.textField{
  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
  line-height: 100%;
}

textarea {
  font-size: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 100%;
  border: 0;
  outline: 0;
  resize: none;
  transition: background-color ease-in-out 0.2s;
}

textarea:focus {
  background-color: #f4f4f480;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  }
.updateKfValuesStyle {
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: underline;
    }

    #showNavButton{
      position: absolute; 
      width: 50px; 
      height: 50px; 
      bottom: -25px; 
      left: calc(50% - 25px); 
      pointer-events: auto !important; 
      z-index: 997; 
      opacity: 0.25; 
      border-radius: 50%;
      transition: all 0.3s;
      display: none;
    }
    #showNavButton:hover{
      opacity: 0.75;
      bottom: -12px;
    }

    #fullscreenNav{
      position: absolute; 
      width: 250px; 
      height: 100px; 
      bottom: 10%; 
      left: calc(50% - 125px); 
      pointer-events: auto !important; 
      z-index: 997; 
      opacity: 0.5;
      transition: all 0.3s;
      display: none;
    }

