* {
  padding: 0;
  margin: 0;
}

#animation-title {
  background-color: transparent;
  color: #fff;
  width: 350px;
  max-width: 350px;
  border: 0px;
  vertical-align: 10%;
}

#lesson-title {
  background-color: transparent;
  color: black;
  width: 100%;
  border: 0px;
  vertical-align: 10%;
  font-size:1.2em;
}

#lesson-desc {
  background-color: transparent;
  color: black;
  width: 100%;
  border: 0px;
  vertical-align: 10%;
  font-size:1.2em;
}

/*Potion Brand*/

body {
  font-family: Helvetica, Arial, sans-serif;
}

.potion-font {
  font-family: Amatic SC, Roboto-Light;
  font-weight: bold;
}

.potion-font-2 {
  font-family: Roboto-Light, Tempus Sans ITC;
}

.potion-sidebar-font {
  font-family: Amatic SC, Roboto-Light;
}

/*Login Page*/

.imgdiv {
  text-align: center;
  padding-top: 3em;
}

.potionimg {
  /* max-width: 300px;
  max-height: 400px;
  min-width: 399px;
  min-height: 499px; */
  height: 300px;
  /* transform: rotate(15deg); */
}

#profile-potion {
  height: auto;
  width: 30vw;
  margin-top: -20px;
}

#profile-potion-small {
  height: 36px;
  width: auto;
  margin-top: 0;
}

.formdiv {
  margin-top: 3em;
  float: left;
}

.formtitle {
  text-align: center;
}

.welcometitle {
  text-align: center;
  font-family: 'Amatic SC', bold;
  color: white;
}

.login-form button[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #535b63;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  background-image: linear-gradient(45deg, #02084d, #ff007a);
}

.register-button button[type="submit"] {
  width: 100%;
  padding: 15px;
  text-align: left;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(45deg, #02084d, #ff007a);
}

.collapsible {
  border-radius: 20px;
  overflow: hidden;
}

.collapsible-header {
  display: block;
}

.collapsible-body {
  background-color: white;
}

/* Navbar */

.dark-blue {
  background-color: #02084d;
}

.light-blue {
  background-color: #91d7f2 !important;
}


.light-blue-dot {
  background-color: #91d7f2;
  border-radius: 50%;
}

.dark-blue-to-light-blue {
  background-color: #02084d;
  background-image: linear-gradient(45deg, #02084d, #91d7f2);
}

.light-blue-to-dark-blue {
  background-color: #02084d;
  background-image: linear-gradient(135deg, #02084d, #91d7f2);
}

.dark-blue-to-magenta {
  background-color: #02084d;
  background-image: linear-gradient(45deg, #02084d, #ff007a);
}

.dark-blue-to-magenta-90 {
  background-color: #02084d;
  background-image: linear-gradient(90deg, #02084d, #ff007a);
}

.dark-magenta-to-magenta {
  background-color: #ff007a;
  background-image: linear-gradient(0deg, rgb(147, 17, 103), #ff007a);
}

.dark-blue-text {
  color: #02084d;
}

.dark-grey-4-text {
  color: #434343;
}

.light-blue-text {
  color: #91d7f2;
}

.dark-grey-2 {
  background-color: #999999 !important;
}

.dark-grey-3 {
  background-color: #666666 !important;
}

.dark-grey-4 {
  background-color: #434343 !important;
}

/*OVERRIDE*/

@media screen and (max-width: 600px){
  .sidenav {
    width: 91%;
  }
}
@media screen and (min-width: 600px){
  .sidenav {
    width: 410px;
  }
}

.rounded-corners {
  border-radius: 32px;
}

.rounded-corners-16 {
  border-radius: 16px;
  overflow: hidden;
}

.rounded-corners-16-t {
  border-radius: 16px 16px 0px 0px;
  overflow: hidden;
}

.rounded-corners-16-b {
  border-radius: 0 0 16px 16px;
  overflow: hidden;
}

.overflow-visible {
  overflow: visible !important;
}

.min-height {
  min-height: 80vh;
}

@media screen and (min-width: 600px) {
  .margin-top-124 {
    margin-top: 124px;
  }
}

@media screen and (max-width: 600px) {
  .margin-top-124 {
    margin-top: 64px;
  }
}

.margin-top-32 {
  margin-top: 32px;
}

.margin-top-16 {
  margin-top: 16px;
}

.margin-top-8 {
  margin-top: 8px;
}

.margin-top-4 {
  margin-top: 4px;
}

.margin-t-b-8 {
  margin: 8px 0px;
}

.margin-t-b-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.margin-l-r-16 {
  margin: 0px 16px;
}

.margin-l-r-4 {
  margin: 0px 4px;
}

.margin-left-16 {
  margin-left: 16px;
}

.margin-right-8{
  margin-right: 8px;
}

.margin-8 {
  margin: 4px 8px 4px 8px;
}

.padding-0 {
  padding: 0 !important;
}

.padding-t-b-7 {
  padding: 7px 0 !important;
}

.padding-l-r-32 {
  padding: 0px px !important;
}

.square {
  float: left;
  position: relative;
  width: 32.666% !important;
  padding-bottom: 32.666% !important;
  /* = width for a 1:1 aspect ratio */
  margin: 0.3%;
  border-radius: 2px;
  overflow: hidden;
  opacity: 1;
  transition: all 2s ease;
}

.square-content {
  position: absolute !important;
  height: 98% !important;
  /* = 100% - 2*10% padding */
  width: 98% !important;
  /* = 100% - 2*5% padding */
  padding: 19% 19% !important;
  align-content: center;
}

.squareX3 {
  float: left;
  position: relative;
  width: 100% !important;
  padding-bottom: 33.333% !important;
  /* = width for a 1:1 aspect ratio */
  margin: 0.3% 0%;
  border-radius: 4px;
  overflow: hidden;
}

.squareX3x {
  float: left;
  position: relative;
  width: 100% !important;
  padding-bottom: 23.4% !important;
  /* = width for a 1:1 aspect ratio */
  margin: 1px 0px;
  border-radius: 4px;
  overflow: hidden;
}

.squareX3-content {
  position: absolute !important;
  height: 98% !important;
  /* = 100% - 2*10% padding */
  width: 98% !important;
  /* = 100% - 2*5% padding */
  padding: 5% 5% !important;
  align-content: center;
}

.squareFULL-content {
  position: absolute !important;
  height: 100% !important;
  /* = 100% - 2*10% padding */
  width: 100% !important;
  /* = 100% - 2*5% padding */
  padding: 0% !important;
  align-content: center;
}

.fit-in {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.margin-auto {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.margin-0 {
  margin: 0 !important;
}

.min-height-100 {
  min-height: 100vh;
}

#controls {
  height: 50px;
}

#timeline {
  height: 100px;
}

i.font-size-50 {
  font-size: 50px;
}

i.font-size-38 {
  font-size: 38px;
}

.flex-container-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container-right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}

.flex-container-left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

#logo-button {
  height: 50px;
  border-radius: 25px 25px;
  margin-left: 8px;
  line-height: 50px;
  color: white;
  font-size: 1.5em;
}

#logo-button img {
  float: left;
  margin: 3px;
  width: 42px;
  height: 42px;
}

#create-animation-button {
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  line-height: 15px;
}

.lupe {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  text-align: center;
}

.lupe:hover {
  cursor: pointer;
}

.h50px {
  height: 50px;
}

.h38px {
  height: 38px;
}

.h32px {
  height: 32px;
}

.h25px {
  height: 33px;
}

.h64px {
  height: 64px;
}

.fs-32px {
  font-size: 32px;
}

.fs-24px {
  font-size: 24px;
}

/* CHECKBOX for Icons */

.tabx {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.tabx .x {
  transition-duration: 0.3s;
  display: table-cell;
  list-style: none;
  height: 50px;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: #999;
  background-color: #555555 !important;
  padding: 10px;
}

.tabx .x:last-child {
  box-shadow: inset 5px 5px 5px 0px #00000015;
}

.tabx .x:first-child {
  box-shadow: inset -5px 5px 5px 0px #00000015;
}

.tabx .x:hover {
  background-color: #5b5b5b !important;
}

.tabx .x.active {
  background-color: #666666 !important;
  border: 20px !important;
  border-color: #000000 !important;
  box-shadow: none;
}

.tabx .x a {
  color: #999;
}

.tabx .x.active a {
  color: white;
}

#settings {
  background-color: white;
  position: relative !important;
  width: 100%;
}

#settings #forms {
  width: 100%;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  color: white;
  display: none;
  list-style: none;
  z-index: 99;
}

#settings #adjustments {
  width: 100%;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  color: white;
  display: none;
  list-style: none;
  z-index: 99;
}

.start-welcome {
  margin-top: -2vh;
  margin-bottom: -10vh;
}

.start-boxes {
  padding: 32px;
  margin-top: 10vh;
}

.start-create-boxes {
  padding: 32px;
}

/* List-Template */

.table {
  width: 800px;
}

.tablecell {
  padding-right: 30px;
}

.listElementInfo {
  font-size: 0.5em;
  color: #91d7f2;
}

.listElementInfoAnimations {
  font-size: 0.5em;
  color: #ff007a;
}

.tablebtn {
  background-image: linear-gradient(135deg, #02084d, #91d7f2);
}

.descriptiontext {
  font-size: 0.9em;
  padding: 0px;
  margin: 0px;
  border: 0px;
  color: #434343
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

/* Dropdown-Search-Template */

/* Media Querys for Lesson-Animation-Dropdown */

@media screen and (min-width: 1100px) {
  .popup-button {
    width: 150px;
    max-width: 150px !important;
  }
  .addbtn {
    width: 140px !important;
  }
  .big-add-btn {
    width: 600px;
  }
  .title {
    font-size: 1.8em !important;
  }
  #backToLesson {
    margin-top: 7px;
  }
  .info {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1350px) {
  .addbtn {
    width: 200px !important;
  }
  .title {
    font-size: 2.1em !important;
    padding-top: 0px !important;
  }
}

@media screen and (max-width: 1200px) {
  .title {
    font-size: 1.4em !important;
  }
  .big-add-btn {
    width: 500px !important;
  }
  .popup-button {
    width: 140px !important;
  }
  #backToLesson {
    margin-top: 3px;
  }
  .info {
    margin-top: 3px;
  }
}

@media screen and (max-width: 1000px) {
  .title2 {
    font-size: 1.5em !important;
    padding-top: 8px;
  }
  .title {
    font-size: 1.2em !important;
  }
  .big-add-btn {
    width: 500px !important;
  }
  .addbtn {
    width: 80px !important;
  }
  .btn-search-icon {
    margin-top: 14px !important;
    padding-left: 0px !important;
  }
  #backToLesson {
    margin-top: 0px;
  }
  .info {
    margin-top: 3px;
  }
}

@media screen and (max-width: 600px) {
  .title {
    text-align: center;
    font-size: 1.8em !important;
  }
  .title2 {
    text-align: center;
    font-size: 1.8em !important;
  }
  .addbtn {
    width: 200px !important;
  }
  .popup-button {
    width: 100px !important;
    max-width: 150px !important;
  }
  .big-add-btn {
    width: 300px !important;
  }
  #backToLesson {
    margin-top: 5px;
  }
  .info {
    margin-top: 3px;
  }
}

@media screen and (max-width: 400px) {
  .title {
    text-align: center;
    font-size: 1.8em !important;
  }
  .title2 {
    text-align: center;
    font-size: 1.8em !important;
  }
  .dropdown-button {
    width: 100px;
  }
  .popup-button {
    width: 100px;
    max-width: 100px !important;
  }
  .addbtn {
    width: 100px !important;
  }
  .big-add-btn {
    width: 200px !important;
  }
  #backToLesson {
    margin-top: 5px;
  }
  .info {
    margin-top: 3px;
  }
}

/* Media Querys for Manage-Lesson-Dropdown */

/* dropdown label underline focus color */

.animations>.row>.input-field>input:focus {
  border-bottom: 1px solid #ff007a !important;
  box-shadow: 0 1px 0 0 #ff007a !important
}

.lessons>.row>.input-field>input:focus {
  border-bottom: 1px solid #02084d !important;
  box-shadow: 0 1px 0 0 #02084d !important
}

.input-field label {
  color: #02084d;
}

::placeholder {
  color: black;
}

/* label focus color */

.input-field input[type=text]:focus+label {
  color: #91d7f2;
}

/* label underline focus color */

.input-field input[type=text]:focus {
  border-bottom: 1px solid #02084d;
  box-shadow: 0 1px 0 0 #02084d;
}

/* valid color */

.input-field input[type=text].valid {
  border-bottom: 1px solid #02084d;
  box-shadow: 0 1px 0 0 #02084d;
}

/* invalid color */

.input-field input[type=text].invalid {
  border-bottom: 1px solid #02084d;
  box-shadow: 0 1px 0 0 #02084d;
}

/* icon prefix focus color */

.input-field .prefix.active {
  color: black;
}

.select-dropdown li.disabled>span {
  color: rgba(0, 0, 0, 0.3) !important;
  background-color: transparent !important;
}

/*
   .animations .dropdown-content li > span {
    color:white;
    background-color:#ff007a;
   }

     .lessons .dropdown-content li > span {
    color:white;
    background-color:#02084d;
   }
*/

.dropdown-content li>span {
  color: black !important;
}

.dropdown-content {
  width: 300px !important;
}

.select-wrapper input.select-dropdown {
  font-size: 14px !important;
}

.animations>.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #ff007a !important;
  box-shadow: 0 1px 0 0 #ff007a !important
}

.lessons>.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #02084d !important;
  box-shadow: 0 1px 0 0 #02084d !important
}

.dropdown-button {
  background-color: #02084d;
}

.dropdown-button:hover {
  background-color: #91d7f2;
}

.dropdown-button:focus {
  background-color: #91d7f2;
}

/* Profile */

.info-tag {
  padding-top: 0.75em;
  padding-left: 30%;
}

.info-tag-div {
  margin-top: -10%;
}

.potion-magenta {
  color: #ff007a;
}

#welcome-text {
  margin-left: -0.3em;
}

#save-button-div {
  padding-top: 1em;
}

#first-row-infotags {
  margin-top: 50px;
}

.repeat {
  padding-left: 30%;
}

#delete-account-confirm {
  font-size: 24px;
}

#delete-account-icon {
  padding-top: 0px;
}

.popup {
  background: linear-gradient(135deg, #91d7f2, white);
  border-radius: 15px;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.dropdown-button-pink {
  background-color: #02084d;
}

.dropdown-button-pink:hover {
  background-color: #ff007a;
}

.dropdown-button-pink:focus {
  background-color: #ff007a;
}

.btn {
  font-size: 0.8em;
  border-radius: 6px;
}

.btn-search {
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

.btn-search-icon {
  margin-top: 18px;
  background-color: rgba(0, 0, 0, 0) !important;
  -webkit-box-shadow: none;
}

.btn-search-icon:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  -webkit-box-shadow: none;
}

.btns {
  background-image: linear-gradient(45deg, #02084d, #91d7f2);
  min-width: 82px;
  background-color: #91d7f2;
}

.big-add-btn {
  background-color: #91d7f2;
}

.btns:hover {
  background-color: #91d7f2;
  background-image: none;
}

.btns-pink {
  background-image: linear-gradient(45deg, #02084d, #ff007a);
  min-width: 82px;
  background-color: #ff007a !important;
}

.btns-pink:hover {
  background-color: #ff007a;
  background-image: none;
}

.dropdown-search-row {
  margin-top: 20px;
}

.title {
  padding-top: 5px;
}

.title2 {
  font-size: 1.8em;
}

.popup-button {
  background-color: #02084d;
  max-width: 95px;
}

.popup-button:hover {
  background-color: #91d7f2;
}

.addbtn {
  background-color: #91d7f2;
}

/* Misc */

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

/* Reset Search Button and Input */

.show_hide {
  display: none;
}

#clear {
  position: absolute;
  float: right;
  height: 2em;
  width: 2em;
  top: 0px;
  right: 0px;
  color: #02084d;
  text-align: center;
  cursor: pointer;
  border-radius: 0px 4px 4px 0px;
  margin-top: 4px;
  margin-right: 10px;
}

#clear:after {
  content: "\274c";
  position: absolute;
  top: 4px;
  right: 7px;
}

#clear:hover, #clear:focus {
  color: #91d7f2;
}

#clear:active {
  color: #91d7f2;
}

.pinkcross {
  color: #ff007a !important;
}

.pinkcross:hover, .pinkcross:focus {
  color: #02084d !important;
}

.pinkcross:active {
  color: #02084d !important;
}

.no-hover:hover {
  pointer-events: none !important;
}

.help-popup-icon {
  width: 30%;
  border-radius: 10px;
}

.nav-icon-width {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 60px !important;
}

#input-outer label {
  pointer-events: none;
  color: grey;
  user-select: none;
}

th {
  font-size: 18px;
  text-align: center;
}

td {
  font-size: 14px;
  text-align: center;
  line-height: 14px;
}

.thumbnail{
    margin-top: 18px;
    box-shadow: 0px 0px 5px #e2e2e2;
    border-radius: 2px;
}

.view-thumbnail{
    margin-top: 4px;
    box-shadow: 0px 0px 5px #e2e2e2;
    border-radius: 2px;
}
