<!-- Dropdown Search -->
<div class = "container"> 
   <div class="row" id="topbarsearch">
      <div class="input-field col s6">
         <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete" >
      </div>
      <div class="input-field col s3">
         <ul id = "dropdown" class = "dropdown-content">
            <li><a class="drop-option" href = "#">By Lessons</a></li>
            <li><a class="drop-option" href = "#!">By Animations</a></li>
         </ul>
         <a class = "btn dropdown-button" href = "#" data-activates = "dropdown">Drop Down
         <i class = "mdi-navigation-arrow-drop-down right"></i></a>   
      </div>
      <div class="input-field col s3" style="margin-left:-80px">
         <button id="searchbtn" class="btn waves-effect waves-light" type="submit" name="action">Search
            <i class="material-icons right">search</i>
         </button>
      </div>
   </div>
</div>
<!-- END Dropdown Search -->