<div class="row dropdown-search-row">
   <div class=" col l4 m6 s12 ">
      <div class="row dark-blue-to-light-blue valign-wrapper noselect h50px" style="margin-top: 10px; border-radius: 25px 25px">
          <div class="col s10 white-text center title">
            <a href="/lessons"><i id="backToLesson" class="white-text material-icons left" style="font-size:2rem">arrow_back</i></a>
            <span style="display: block; width: calc(10% * 280px); overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"><%= title %></span>
          </div>
          <div class="col s2 valign-wrapper white-text">
              <%- include('popup-desc'); -%>
          </div>
      </div>
    </div>
   <div class=" col l8 m6 s12 ">
      <div class="row">
         <div class="col m4 s12 input-field">
         </div>
         <div class="col m8 s12 input-field">
            <div class="col s6">
              <%- include('popup-add'); -%>
            </div>
            <div class="col s6">
              <a id="copyShareLinkToClipboard" class="btn btns addbtn2 right waves-effect waves-light" href="javascript:;">
                <span class="hide-on-small-and-down">
                  Share
                </span> 
                <i class="material-icons right hide-on-small-and-down">
                  share
                </i>
                <i class="material-icons show-on-small hide-on-med-and-up">
                    share
                  </i>
              </a>
              <input id="shareLink" style="display: none;" value="/view?lesson=<%= share %>" readonly>
            </div>
          </div>
      </div>
   </div>
</div>








