<div class="row" id="topbarsearch">
   <div class="input-field col s6">
      <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete" >
   </div>
   <div class="container input-field col s3 left">
      <ul id = "dropdown" class = "dropdown-content">
         <li><a href = "#">By Animations</a></li>
         <li><a href = "#!">By Lessons</a></li>
      </ul>
      
      <a class = "btn dropdown-button" href = "#" data-activates = "dropdown">Sortieren
         <i class = "mdi-navigation-arrow-drop-down right"></i></a>   
    </div>
   <div class="input-field col s3 right" style="margin-left:-80px">
      <button id="searchbtn" class="btn waves-effect waves-light" type="submit" name="action">Search
         <i class="material-icons right">search</i>
      </button>
   </div>
</div>
