<div class="row dropdown-search-row h64px" style="vertical-align: middle;">

    <a id="logo-button" class="col m3 s12 dark-blue-to-light-blue noselect" href="/lessons" style="text-align: center;">
        <i class="material-icons white-text" style="font-size:2rem; margin: -3px 0 0 0; vertical-align: middle;">personal_video</i> My Lessons
    </a>

    <form action="/lessons" method="GET">
        <div id="input-outer" class="col m4 s4 input-field valign-wrapper" style="margin: 0;">
            <input id="autocomplete-input" class="autocomplete" name="search" type="text" value="<%= placeholder %>">
            <label for="searchinput">Search...</label>

            <!--
            <a id="lupe" href="/animations" style="float: right;">
                <i class="material-icons pinkcross" style="font-size: 2.0em;">close</i>
            </a>
            -->
        </div>

        <div class="col m1 s3 input-field animations valign-wrapper" style="margin: 0;">
            <select name="sort" id="sortSelectAnimations">
                <option value="">Sort</option>
                <option value="Name">Name</option>
                <option value="Date">Date</option>
            </select>
        </div>

        <div class="col m1 s2 valign-wrapper h64px">
            <button class="lupe"  type="submit">
                    <i class="material-icons" style="font-size: 2.0em;">search</i>
            </button>
        </div>
    </form>

    <form action="/lessons" method="POST">
        <div class="col m2 s1 valign-wrapper" style="margin: 12px 0 0 0; padding: 0;">
            <button type="submit" class="btn btns addbtn waves-effect waves-light">
                <span class="hide-on-small-and-down">
                    Create Lesson<br>   
                </span>
                <i class="material-icons">add</i>
            </button>
        </div>
    </form>
</div>