<div class="row  dropdown-search-row" style="margin-bottom:0;">
    <div class=" col l3 m3 s12 ">
        <div class="row dark-blue-to-light-blue valign-wrapper noselect h50px" style="margin-top: 10px; border-radius: 25px 25px">
          <div class="col s2 valign-wrapper"><i class="material-icons white-text" style="font-size:2rem; margin-left: 8px">personal_video</i></div>
          <div class="col s10 white-text center title">
            <a style="color:white" href="/lessons"> Lessons </a>
          </div>
        </div>
    </div>
    <div class=" col l9 m9 s12 ">
      <div class="lessons">
        <div class="row" style="margin-bottom:0;">
          <form action="/lessons/search" method="GET" id="searchform">
            <div class="col m1 s1">
              <button type="submit" class="btn-search btn-search-icon btn center"><i class="material-icons">search</i></button>
            </div>
            <div class="col m5 s11 input-field" id="input-outer">
              <label for="searchinput">Search...</label>
              <input name="searchinput" type="text" value="<%= placeholder %>" style="height: 2.5rem;" id="autocomplete-input lessons-search" class="autocomplete">
              <div class="show_hide bluecross" id="clear"></div>
            </div>
          </form>
          <div class="row col m6 s12 input-field">
            <div class="col s6">
               <div class="input-field col s12 lessons" style="margin-top: -7px; margin-left:-15px; width:100px; padding-left:0px" >
                 <form action="/lessons/sort" method="GET">
                   <select name="sort" id="sortselect">
                     <option value="" disabled selected>Sort</option>
                     <option value="Name">Name</option>
                     <option value="Date">Date</option>
                   </select>
                 </form>
               </div>
            </div>
            <div class="col s6">
              <form action="/lessons" method="POST">
                <button type="submit" class="btn btns addbtn dropdownclass right waves-effect waves-light">Create Lesson<i class="material-icons right">add</i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

