<!-- _____________________________________ Footer _____________________________________ -->

  <footer class="page-footer dark-blue margin-top-124">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
         <div class="brand-logo">
            <h3 style="margin-left: 0" href="/" class="margin-l-r-4 potion-font">Potion</h3>
            </br>
         </div>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text" style="margin-bottom: 0">Seiten</h5></br>
          <ul>
            <li><a class="white-text" href="/impressum">Impressum</a></li>
            <li><a class="white-text" href="/agb">AGB</a></li>
            <li><a class="white-text" href="/contact">Kontakt</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text" style="margin-bottom: 0">Team</h5></br>
          <ul>
            <li><p class="white-text">Christopher Goihl</p></li>
            <li><p class="white-text">Michael Kuczmann</p></li>
            <li><p class="white-text">Marvin Roitsch</p></li>
            <li><p class="white-text">Philipp von Kiedrowski</p></li>
            <li><p class="white-text">Niklas Wrana</p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="light-blue-text">Potion</a>
      </div>
    </div>
</footer>

<!-- _____________________________________ END Footer _____________________________________ -->
