<!-- _____________________________________ Header _____________________________________ -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
  <link href="/fonts/Roboto/Roboto-Light.ttf" rel="stylesheet">
  
<!--Import materialize.css-->
  <link rel="stylesheet" href="/css/materialize/materialize.min.css">
<!--Import material-icons.css-->
  <link href="/css/materialize/material-icons.css" rel="stylesheet">
<!-- Potion CSS -->
  <link rel="stylesheet" href="/css/styles.css">
<!-- Potion Favicon -->
  <link rel="shortcut icon" type="image/png" href="/potion-favicon.png"/>


<!-- Import jQuery -->
  <script src="/scripts/included/jquery/jquery-3.4.1.min.js"></script> 
<!-- Materialize.js -->
  <script src="/scripts/included/materialize/materialize.min.js"></script>
<!-- html2canvas -->
  <script src="/scripts/included/html2canvas/html2canvas.min.js"></script>
<!-- Init -->
  <script src="/scripts/init.js"></script>

<!-- _____________________________________ END Header _____________________________________ -->
