<table class="dark-blue-text" style="width:100%">

    <!-- Help Video-->
    <tr>
        <video width="320" height="240" controls>
            <source src="/files/videos/Potion.mp4" type="video/mp4">
        </video>
    </tr>

    <!-- Shortcuts -->
    <tr> <th>Shortcut</th><th>Action</th> </tr>
    <tr> <td>"SPACE"</td><td>Play & Pause</td> </tr>
    <tr> <td>"Ctrl" + "A"</td><td>Select all shapes</td> </tr>
    <tr> <td>"Esc" | "CLICK" on Canvas</td><td>Deselect all shapes</td> </tr>
    <tr> <td>"Shift" + "CLICK"</td><td>Select/Deselect multiple shapes</td> </tr>
    <tr> <td>"Ctrl" + "Backspace</td><td>Delete selected shapes</td> </tr>
    <tr> <td>"Shift" + "1"</td><td>Jump to start</td> </tr>
    <tr> <td>"Shift" + "2"</td><td>Jump to end</td> </tr>
    <tr> <td>"Shift" + "Arrow-Left"</td><td>Step back</td> </tr>
    <tr> <td>"Shift" + "Arrow-Right"</td><td>Step forward</td> </tr>

    <!-- Buttons -->
    <tr> <th>Buttons</th><th>Action</th> </tr>
    <tr>
        <td><a class="btn btn-small dark-grey-3" >Elements</a></td>
        <td>Show all Animation Elements that can be added</td>
    </tr>
    <tr>
        <td><a class="btn btn-small dark-grey-3" >Properties</a></td>
        <td>Show/Edit Properties of selected Element</td>
    </tr>
    <tr>
        <td><a class="btn btn-small" style="background-color: rgb(131, 198, 134)"><i class="material-icons">add</i></a></td>
        <td>Add a keyframe at current time position</td>
    </tr>
    <tr>
        <td><a class="btn btn-small" style="background-color: #ef5350"><i class="material-icons">delete</i></a></td>
        <td>Delete selected keyframe</td>
    </tr>
    <tr>
        <td><a class="btn btn-small blue-grey"><i class="material-icons">ac_unit</i></a></td>
        <td>Freeze keyframes of selected object to second timeline to synchronize two objects</td>
    </tr>

    <tr>
        <td><a class="btn btn-small dark-grey-3 h32px" ><img src="/files/icons/restore.svg" class="h32px"></a></td>
        <td>Restore deleted Elements</td>
    </tr>
    <!-- Video Controls -->
    <tr> <th>Video Controls</th><th>Action</th> </tr>
    <tr>
        <td>
            <div class="margin-0 padding-0 flex-container-center h50px dark-grey-3" style="border-radius: 10px;">
                <a class="flex-container-center no-hover"><i class="font-size-50 material-icons white-text">skip_previous</i></a>
                <a class="flex-container-center no-hover"><i class="font-size-38 material-icons white-text" style="transform: rotate(180deg);">play_arrow</i></a>
                <a class="flex-container-center no-hover"><i class="font-size-50 material-icons white-text">play_arrow</i></a>
                <a class="flex-container-center no-hover"><i class="font-size-38 material-icons white-text">play_arrow</i></a>
                <a class="flex-container-center no-hover"><i class="font-size-50 material-icons white-text">skip_next</i></a>
            </div>
        </td>
        <td>Jump to start/end | Step forward/back | Play/Pause</td>
    </tr>

    <!-- Navbar -->
    <tr> <th>Navbar Controls</th><th>Action</th> </tr>
    <tr>
        <td>
            <a class="flex-container-center no-hover"><i class="large material-icons white-text dark-grey-3 help-popup-icon">edit</i></a>
        </td>
        <td>Click Name to change Name <br /> Click Button to edit description via popup-window</td>
    </tr>
    <tr>
        <td>
            <a class="flex-container-center no-hover"><i class="large material-icons white-text dark-grey-3 help-popup-icon">photo_camera</i></a>
        </td>
        <td>Set the current frame as thumbnail</td>
    </tr>
    <tr>
        <td>
            <a class="flex-container-center no-hover"><i class="large material-icons white-text dark-grey-3 help-popup-icon">save</i></a>
        </td>
        <td>Save the animation</td>
    </tr>
    <tr>
        <td>
            <a class="flex-container-center no-hover"><i class="large material-icons white-text dark-grey-3 help-popup-icon">assignment</i></a>
        </td>
        <td>Copy the animation as JSON-file to your clipboard</td>
    </tr>
    <tr>
        <td>
            <a class="flex-container-center no-hover"><i class="large material-icons white-text dark-grey-3 help-popup-icon">share</i></a>
        </td>
        <td>Share the animation link with viewers</td>
    </tr>  
</table> 