<div class="row"> <!-- one element -->
	
	<%if (listType == 'lessons') { %> <!-- Lesson List has a slightly different Layout-->
		<div id="leftSideInfo" class="col m8 s6"> <!-- Info -->
	<% } else{ %>
		<div id="leftSideInfo" class="col m8 s8"> <!-- Info -->			
	<% } %>
		
	<div class="col m12 s12 flow-text">			
			<%if (listType == 'lessons') { %>
				<h5>
					<%= element.title %>
					<span class="listElementInfo hide-on-small-only"> <!--(<%= 17 %><span class="hide-on-small-only"> Animations</span>)--> <span class="hide-on-small-only">Date: <%= element.date %></span></span>
				</h5>
				<% } else { %>
				<div class="row margin-0">
					<div class="col 6 padding-0 margin-right-8">
						<img class="thumbnail hide-on-small-and-down" width="80" height="45" src="/files/thumbnails/<%= element.id %>.png" onerror="if (this.src != '/files/thumbnails/error.jpg') this.src = '/files/thumbnails/error.jpg';">
					</div>
					<div class="col 6">
						<h5>					
							<%= element.title %><br>
							<span class="listElementInfoAnimations"><span class="hide-on-small-and-down">Date: </span><%= element.date %></span>
							<span class="listElementInfoAnimations"> |&nbsp;<span class="hide-on-small-and-down">Duration: </span><%= element.duration %></span>
						</h5>
					</div>					
				</div>				
			<% } %>
		</div>
		<div class="col m10 descriptiontext hide-on-small-and-down">
			<%= element.description %>
		</div>			
	</div>
		
	<%if (listType == 'lessons') { %>
		<div id="rightSideInfo" class="col m4 s6">  <!-- Buttons -->
	<% } else{ %>
		<div id="rightSideInfo" class="col m4 s4">  <!-- Buttons -->		
	<% } %>

			<h5> <!-- Button EDIT -->
				<%if (listType == 'lessons') { %> <!-- Edit Button is not hidden in Lesson List-->
					<a href="/lessons/<%= element.id %>" method="GET" class="btn col m3 s4 dark-blue-to-light-blue waves-effect waves-light">
						<i class="material-icons flow-text">edit</i>
					</a>
				<% } else { %>
					<a href="/animations/<%= element.id %>" method="GET" class="btn col m3 hide-on-small-and-down	dark-blue-to-magenta waves-effect waves-light"> 
						<i class="material-icons flow-text">edit</i>
					</a>	
				<% } %>
			</h5>
		
			<h5> <!-- Button SHARE -->
				<%if (listType == 'lessons') { %>
					<a href="javascript:;" class="btn col m3 s4 offset-m1 dark-blue-to-light-blue waves-effect waves-light shareLinkCopyMaker">
						<i class="material-icons flow-text">share</i>
						<input class="shareLink" style="display: none;" value="/view?lesson=<%= element.share %>" readonly>
					</a>	
				<% } else{ %>
					<a href="javascript:;" class="btn col m3 s6 offset-m1 dark-blue-to-magenta waves-effect waves-light shareLinkCopyMaker">
						<i class="material-icons flow-text">share</i>
						<input class="shareLink" style="display: none;" value="/view?animation=<%= element.share %>" readonly>
					</a>						
					
				<% } %>
			</h5>
		
			<h5> <!-- Button DELETE -->
				<%if (listType == 'lessons') { %>
					<a href="/delete-lesson?lessonId=<%= element.id %>" method="GET" class="btn col m3 s4 offset-m1	dark-blue-to-light-blue waves-effect waves-light">
						<i class="material-icons flow-text">delete</i>
					</a>
				<% } else if(listType == 'manageLesson') { %>
					<a href="/remove-animation?lessonId=<%= id %>&animationId=<%= element.id %>" method="GET" class="btn col m3 s6 offset-m1	dark-blue-to-magenta waves-effect waves-light">
						<i class="material-icons flow-text">cancel</i>
					</a>					
				<% } else { %>
					<a href="/delete-animation?animationId=<%= element.id %>" method="GET" class="btn col m3 s6 offset-m1	dark-blue-to-magenta waves-effect waves-light">
						<i class="material-icons flow-text">delete</i>
					</a>					
				<% } %>
			</h5>
		</div>
	</div>
	<div class="divider"></div>