<!-- _____________________________________ NAV _____________________________________ -->


  <!-- _______________________ NAV Bar _______________________ -->

    <nav class="lighten-1 dark-grey-4 noselect" role="navigation">
      <div class="nav-wrapper container">

        <!-- Menu Icon & Potion Logo & Potion Text-->
        <a href="javascript:;" data-target="slide-out" class="show-on-large sidenav-trigger"><i class="material-icons">menu</i></a>
        <div class="brand-logo">
            <a href="/" id="logo-container"><img class="h25px margin-top-16 margin-right-8" src="/files/SVG/Potion_Angular.svg"></a>
            <!-- <a href="javascript:;" class="margin-l-r-4" style="vertical-align: 7%">Animation_01</a> -->
            <input id="animation-title" class="browser-default" type="text" value="<%= title %>">
            <a href="#descPopup" class="right margin-l-r-4 tooltipped modal-trigger" data-position="right" data-tooltip="Edit Description"><i class="large material-icons white-text">edit</i></a>        
                <!-- Modal Structure / Popup Window -->
                <div id="descPopup" class="modal popup">
                    <div class="modal-content">
                        <div class="row">
                            <h4 class="potion-font text-center dark-blue-text">Edit Description</h4>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea rows="5" maxlength="240" id="animation-desc" name="desc" class="dark-blue-text text-left browser-default" type="text" placeholder=""><%= description %></textarea>
                          </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <a href="#!" class="modal-close btn-flat">Close</a>
                    </div>
                </div>
                <!-- Popup End -->
        </div>

        <!--Icon Link (hides on smaller devices)-->
        <ul class="right nav-icon ">
            <li class="center">
                <a class="modal-trigger" href="#helpPopup"><i class="large material-icons white-text tooltipped" data-position="bottom" data-tooltip="Help & Shortcuts">help_outline</i></a>                
                <!-- Modal Structure / Popup Window -->
                <div id="helpPopup" class="modal popup">
                    <div class="modal-content">
                        <div class="row">
                            <h4 class="potion-font text-center dark-blue-text">Help & Shortcuts</h4>
                        </div>
                        <div class="row">
                            <!-- import of full help&shortcuts -->
                            <%- include('help-shortcut-list'); -%>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <a href="#!" class="modal-close btn-flat">Close</a>
                    </div>
                </div>
                <!-- Popup End -->
            </li>
        </ul>
        <ul class="right nav-icon ">
            <li class="center"><a id="loadAnimation" href="javascript:;"><i class="small material-icons white-text tooltipped" data-position="bottom" data-tooltip="Load Animation">publish</i></a></li>
        </ul>
        <ul class="right nav-icon ">
            <li class="center"><a id="download" href="javascript:;"><i class="small material-icons white-text tooltipped" data-position="bottom" data-tooltip="Copy to Clipboard">assignment</i></a></li>
        </ul>
        <ul class="right nav-icon">
            <li class="center"><a href="javascript:;"><i class="large material-icons white-text tooltipped" data-position="bottom" data-tooltip="Share Animation">share</i></a></li>
        </ul>
        <ul class="right nav-icon">
            <li class="center "><a id="saveAnimation" href="javascript:;"><i class="large material-icons white-text tooltipped" data-position="bottom" data-tooltip="Save Animation">save</i></a></li>
        </ul>
        <ul class="right nav-icon ">
            <li class="center"><a id="setThumbnail" href="javascript:;"><i class="small material-icons white-text tooltipped" data-position="bottom" data-tooltip="Set Current as Thumbnail">photo_camera</i></a></li>
        </ul>
    
      </div>
    </nav>


    <!-- _______________________ Side NAV _______________________ -->

    <%- include('sidenav'); -%>

<!-- _____________________________________ END NAV _____________________________________ -->
