<!-- _____________________________________ NAV _____________________________________ -->


  <!-- _______________________ NAV Bar _______________________ -->
    <div class="h64px">
        <!-- Space (Pseudo Element) -->
    </div>
    <nav class="lighten-1 dark-blue noselect" style="background-image: linear-gradient(180deg, #02084d, #0000004d); position: fixed; z-index:100; top: 0;" role="navigation">
      <div class="nav-wrapper container">

        <!-- Menu Icon & Potion Logo & Potion Text-->
        <a href="javascript:;" data-target="slide-out" class="show-on-large sidenav-trigger"><i class="material-icons">menu</i></a>
        <div class="brand-logo">
            <a href="/" id="logo-container" href="#" ><img class="h25px margin-top-8" src="/files/SVG/Potion_Angular.svg"></a>
            <a href="/" class="margin-l-r-4 potion-font" style="vertical-align: 7%">Potion</a>
        </div>

      </div>
    </nav>


    <!-- _______________________ Side NAV _______________________ -->

    <%- include('sidenav'); -%>

<!-- _____________________________________ END NAV _____________________________________ -->
