<!-- Add Animation Pop-up -->
  <!-- Modal Trigger / Button for Popup-->
  <a class="waves-effect waves-light btn modal-trigger popup-button" href="#addAnimation">Add Animation</a>

  <!-- Modal Structure / Popup Window -->
  <div id="addAnimation" class="modal popup">
    <div class="modal-content">
		<!--
    	<div class="row">
    		<div class="col s6">
    			<button class="btn col s6 light-blue-to-dark-blue" style="width:100%">Create new Animation</button>
    		</div>
    		<div class="input-field col s6" style="margin-top: -1.2em;">
	    		<form>
			        <div class="input-field">
			          <input id="search" type="search" required>
			          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
			          <i class="material-icons">close</i>
			        </div>
      			</form>
    		</div>
    	</div>
		-->
    	<!-- Animation List -->
		<% if (animationsToAdd.length != 0) { %>
		<ul>
			<% for(var i in animationsToAdd) { %>
				<li>
					<div class="row">
						<div class="col s2">
							<form method="post" action="/add-animation?lessonId=<%= id %>&animationId=<%= animationsToAdd[i].id %>">
								<button type="submit" class="btn light-blue-to-dark-blue">Add +</button>
							</form>
						</div>
						<div class="col s10">
							<p> <%= animationsToAdd[i].title %>  (<span class="hide-on-small-and-down">Duration: </span><%= animationsToAdd[i].duration %>)</p>
						</div>
					</div>				
				</li>
			<% } %>	
		</ul>
		<% } else { %>
		<h4 class="dark-blue-text">You don't have any more Animations to add.</h4>
		<% } %>
    </div>
    <div class="modal-footer">
      <a href="javascript:;" class="modal-close btn-flat">Close</a>
    </div>
  </div>
<!-- END Add Animation Pop-up -->	