<!-- Description Pop-up -->
 <!-- Modal Trigger / Button for Popup-->
  <a class="waves-effect waves-light modal-trigger" href="#descModal"><i class="info material-icons" style="color: white;">edit</i></a>

  <!-- Modal Structure / Popup Window -->
  <div id="descModal" class="modal popup">
    <div class="modal-content">
      <h5>Edit Title and Description</h5>
      <form method="post" action="/change-desc?lessonId=<%= id %>">
      	<div class="row">
	        <div class="input-field col s12">
          <input id="lesson-title" name="title" class="browser-default" type="text" value="<%= title %>">
	        </div>
      	</div>
        <div class="row">
          <div class="input-field col s12">
            <textarea rows="5" maxlength="240" id="lesson-desc" name="desc" class="browser-default" type="text" placeholder=""><%= desc %></textarea>
          </div>
          <div class="right-align">
            <button class="btn light-blue-to-dark-blue" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a href="javascript:;" class="modal-close btn-flat">Close</a>
    </div>
  </div>
<!-- END Description Pop-up -->

