    <!-- _______________________ Side NAV _______________________ -->

    <ul id="slide-out" class="sidenav dark-blue noselect">
        <!--Bar-->
        <nav class="dark-blue-to-magenta">
            <div class="brand-logo margin-left-16">
                <a href="/" id="logo-container"><img class="h25px margin-top-8" src="/files/SVG/Potion_Angular.svg"></a>
                <a href="/" class="margin-l-r-4 potion-font" style="vertical-align: 7%">Potion</a>
            </div>
            <a href="javascript:;" data-target="slide-out" class="show-on-large sidenav-close margin-l-r-16 right">
              <i class="large material-icons white-text">close</i>
            </a>
        </nav>
        <!--Start-->
        <li class="dark-blue-to-light-blue" style="height:21.5vh">
            <a class="waves-effect waves-light" href="/" style="height:100%">
                <div class="valign-wrapper" style="height:100%">
                  <i class="large material-icons white-text" style="margin-right: 15%">home</i>
                  <h3 class="white-text potion-sidebar-font">Start</h3>
                </div>
            </a>
        </li>
        <!--Lessons-->
        <li class="dark-blue-to-light-blue" style="height:21.5vh">
            <a class="waves-effect waves-light" href="/lessons" style="height:100%">
                <div class="valign-wrapper" style="height:100%">
                  <i class="large material-icons white-text" style="margin-right: 15%">personal_video</i>
                  <h3 class="white-text potion-sidebar-font">Lessons</h3>
                </div>
            </a>
        </li>
        <!--Animations-->
        <li class="dark-blue-to-light-blue" style="height:21.5vh">
            <a class="waves-effect waves-light" href="/animations" style="height:100%">
                <div class="valign-wrapper" style="height:100%">
                  <!-- <i class="large material-icons white-text" style="margin-right: 15%">personal_video</i> -->
                  <img class="large margin-top-8" style="margin-right: 15%; height:6rem; margin-left: 12px;" src="/files/SVG/Potion_Angular_White.svg">
                  <h3 class="white-text potion-sidebar-font">Animations</h3>
                </div>
            </a>
        </li>

        <%if (user.isAdmin == 1) { %>
          <!--Profile Admin-->
          <li class="dark-blue-to-magenta" style="height:13vh; width: 50%; float:left">
              <a class="waves-effect waves-light" href="/profile" style="height:100%">
                  <div class="valign-wrapper" style="height:100%">
                    <i class="small material-icons white-text" style="margin:0 18% 0 5%">person</i>
                    <h5 class="white-text potion-sidebar-font">Profile</h5>
                  </div>
              </a>
          </li>
          <li class="dark-magenta-to-magenta" style="height:13vh; width: 50%; float:left">
              <a class="waves-effect waves-light" href="/admin" style="height:100%">
                  <div class="valign-wrapper" style="height:100%">
                    <i class="small material-icons white-text" style="margin:0 18% 0 5%">build</i>
                    <h5 class="white-text potion-sidebar-font">Admin</h5>
                  </div>
              </a>
          </li>
        <% } else { %>
        <!--Profile Normal User-->
          <li class="dark-blue-to-magenta" style="height:13vh; width:100%; float:left">
              <a class="waves-effect waves-light" href="/profile" style="height:100%">
                  <div class="valign-wrapper" style="height:100%">
                    <i class="medium material-icons white-text" style="margin-right: 15%">person</i>
                    <h5 class="white-text potion-sidebar-font">Profile</h5>
                  </div>
              </a>
          </li>
        <% } %>

        <!--Logout-->
        <li class="dark-blue-to-magenta" style="height:13vh; width:100%; float:left">
            <a class="waves-effect waves-light" href="/logout" style="height:100%">
                <div class="valign-wrapper" style="height:100%">
                  <i class="medium material-icons white-text" style="margin-right: 15%">exit_to_app</i>
                  <h5 class="white-text potion-sidebar-font">Logout</h5>
                </div>
            </a>
        </li>
    </ul>
