<!Doctype HTML>
<html lang="de">

<head>
    <title>Error occurred</title>

    <script>
        setTimeout(function () {
            // rest of code here
            location.href = '/'
        }, 3000);
    </script>
</head>

<body>
    <h1>
        Opps... an error occured! You will be redirected to the start page!
    </h1>
</body>

</html>